/*  Example for path: url('#{$font-path}/2FF546_0_0.eot')
-----------------------------------------------------------------------------------------*/

/* @import must be at top of file, otherwise CSS will not work */
@import url('//hello.myfonts.net/count/3172a7');
  
@font-face {
	font-family: 'Century751BT-RomanB';
	src: url('#{$font-path}/3172A7_0_0.eot');
	src: url('#{$font-path}/3172A7_0_0.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/3172A7_0_0.woff2') format('woff2'),
	url('#{$font-path}/3172A7_0_0.woff') format('woff'),
	url('#{$font-path}/3172A7_0_0.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'GT-Walsheim-Pro-Light';
	src: url('#{$font-path}/GT-Walsheim-Pro-Light.eot');
	src: url('#{$font-path}/GT-Walsheim-Pro-Light.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/GT-Walsheim-Pro-Light.woff') format('woff'),
	url('#{$font-path}/GT-Walsheim-Pro-Light.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'GT-Walsheim-Pro-Medium';
	src: url('#{$font-path}/GT-Walsheim-Pro-Medium.eot');
	src: url('#{$font-path}/GT-Walsheim-Pro-Medium.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}/GT-Walsheim-Pro-Medium.woff') format('woff'),
	url('#{$font-path}/GT-Walsheim-Pro-Medium.ttf') format('truetype');
	font-weight: normal;
}