
#lang_sel_footer {
	position: fixed;
	top:auto;
	bottom:-50px;
	left:0;
	right:auto;
	margin-bottom: 0;
	width: 100%;
	background-color: rgba(251,251,251,.9);
	z-index: 9999;
	
	@include transition(400ms);
	
	&.wpml-ls-legacy-list-horizontal {
		padding: 2px 0;
	}
	
	a {
		background-color: transparent;
	}
	
	.wpml-ls-current-language {
		-webkit-border-radius: 3px;
		border-radius: 3px;
		
		a {
			text-decoration: underline;
		}
	}
}

.scrolling-down {
	#lang_sel_footer {
		bottom: 0 !important;	
	}
}

#mobile-fixed-nav{
	
	.menu {
		position: relative;
	}
	
	.menu-item-language {
		font-size: 0.8em;
	}
	
	.menu-item-language:last-of-type {
		position: absolute;
		right:50px;
		bottom: 0;
	}
	
	.social-media-links {
		margin-top: 12px;
	}
	
	.wpml-ls-current-language {
		a {
			text-decoration: underline;	
		}
	}
}