/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Huge
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1440px){
		
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: for laptops etc
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and (max-width: 1180px){
	
	#header {
		height: 45px;
		
		.v-logo {
			top: 10px;
		}
	}
	
	/*  Main Nav
	------------------------------------------------------*/
	#main-nav {
		
		top: 12px;
		
		ul {
			li {
				margin: 0;
				
				a {
					font-size: 18px;
				}
				
				&:nth-child(1) {
					margin-left: 1rem;
				}
				
				&:nth-child(6) {
					margin-right: 1rem;
				}
			}
		}
	}		

}/*Close @media*/


	
/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Small
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and  (max-width: 1140px) {
	
	/*  Skippers single
	------------------------------------------------------*/
	.skipper-header {
		padding-top: 110px;
		text-align: center;
		
		img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
		
		h1 {
			
		}
	}
	
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Tablet 
------------------------------------------------------------------------------------*/
@media only screen  and (max-width: 1040px) {
	
	.bg-fixed { background-attachment: inherit; }
	
	p {
		font-size: 16px;
	}
	
	/*  Contact Button
	------------------------------------------------------*/
	#contact-button {
		font-size: 1.2em;
		width: 190px;
		height: 190px;
	}
	
	#inquries {
		padding: 3rem 0;
	}
	
	/*	MAPS
	---------------------------------------------------------*/
	.slideshow-fx {
	
		.Map-img-map {
			
			img {
				max-width: 140% !important;
				left: -20%;
			}
		}
	}

	
	/*  Header
	------------------------------------------------------*/
	#header {
		height: 50px;
		
		.v-logo {
			top: 11px;
			
			&:hover,
			&:focus {
				top: 13px;
			}
		}
	}
	
	/*  Header
	------------------------------------------------------*/
	#header {
		height: 45px;
		
		.v-logo {
			top: 11px;
			left: 0;
			right: auto;
			font-size: 1em;
			margin-left: 0;
			
			
			&:hover,
			&:focus {
				top: 13px;
			}
		}
		
		&.template-banner {
			.v-logo {
				color: #1d498e;
			}
		}
		
		.hamburger {
			.line {
				background-color:#1d498e;
			}
		}
		
	}
	
	#mobile-nav {
		display: block;
	}
	
	#header.sub-nav {
		background-color: #FFF;
	}
	
	/*  Main Nav
	------------------------------------------------------*/
	#main-nav {
		display: none;	
	}
	
	
	/*  Home slideshow
	------------------------------------------------------*/
	#hero-slideshow,
	.page-header-bg-video {
		
		h1 {
			top: 35px;
		}
		
		h2 {
			font-size: 2.8em;
			line-height: 1.3em;
		}
		
		p {
			width: 100%;
			padding: 0 2.5rem;
			margin: 0;
			bottom: 45px;
			left: auto;
		}
		
		.arr-nav {
			width: 100%;
			margin-left: 0;
			left: 0;
			padding: 0 0.5rem;
			bottom: 40px;
			
		}
	}
	
	/*  ARROWS
	------------------------------------------------------*/
	.slideshow {
	
		.slick-arrow {
			height: 35px;
			width: 18px;
			background-size: 34px 35px;
			overflow: hidden;
		}
	
		.slick-prev {
			
			&:hover {
				background-position: -1px 0;
			}
			
			&:active {
				background-position: -2px 0 !important;
			}
		}
		
		.slick-next {
			background-position: -18px 0;
			
			&:hover {
				background-position: -17px 0;
			}
			
			&:active {
				background-position: -16px 0 !important;
			}
		}
		
	}
	
	
	/* Home padding
	------------------------------------------------------*/
	#content {
	
		&.page-home {
			padding-top: 3rem;		
		}
	}
	
	
	/*  Destinations
	------------------------------------------------------*/	
	#destinations-feat {
		
		.destination {
			
			.item {
				
				.wrap{
					height: 280px;
					
					h4 {
						font-size: 1.6em;
					}
				}
			}
		}
	}
	
	/*  Boats
	------------------------------------------------------*/
	#boats-feat {
		
		 .item {
			 
			 height: 300px;
			 margin-bottom: 1rem;
			 
			 .wrap {
				 padding: 1rem 0;
				 
				 .svg {
					 margin-bottom: 0;
				 }
			 }
			 
			 h4 {
				 font-size: 1.2em;
			 }
		 }
	}
	
	/*  Skippers
	------------------------------------------------------*/
	#skippers-feat {
		.item {
			
			margin: 0 5px 1rem;
			
			.wrap {
				height: 138px;
				width: 138px;
			}
		}
	}
	
	/*  Skippers single
	------------------------------------------------------*/
	.skipper-header {
		padding-top: 110px;
		text-align: center;
		
		img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
		}
		
		h1 {
			
		}
	}
	
	/*  Gallery 8
	------------------------------------------------------*/
	.voilivoilou-photo-gallery {
		.slide {
			.item {
				height: 140px;
			}
		}
	}
	
	/*  Clients
	------------------------------------------------------*/
	#clients-feat {
		.item {
			
			.wrap {
				width: 80%;
			}
			
			.wrap,
			.title,
			p, {
				font-size: 1em;
			}
		}
	}
	
	/*  Form
	------------------------------------------------------*/
	#inquiries-form {
		h3 {
			margin-bottom: 2rem;
		}
	}
	
	form {
		
		fieldset {
			margin-bottom: 1rem;
		}
		
		label {
			font-size: 1.1em;
			margin-bottom: 0.4rem;
		}
		
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="password"],
		input[type="url"], 
		textarea,
		span.customSelect {
			height: 42px;
		}
		
		textarea {
			min-height: 140px;
		}
		
		input[type="submit"] {
			margin: 2rem auto 1rem;
			min-width: 300px;
		}
	}
	
	
	/*  Footer 
	------------------------------------------------------*/
	#footer {
		.inner-top,
		.inner-bottom {
			padding: 2rem 0;
		}
	}
	
	#footer-nav {
		ul {
			li {
				a {
					font-size: 1em;
				}
			}
		}
	}
	
	#contact-info {
		
		margin-bottom: 3rem;
		
		p {
			font-size: 0.9em;
		}
	}
	
	
	/*  Banner
	------------------------------------------------------*/
	#hero-banner {
		height: 280px;
		
		h1 {
			font-size: 1.7em;
		}
	}
	
	.voili-feat {
		
		h3.feat-title, 
		h2.desc {
			font-size: 1.3em;
			max-width: 65%;
			
			&.width-50,
			&.width-60,
			&.width-70,
			&.width-80 {
				max-width: 80%;
			}
		}

		
		
	}
	
	
	/*  Sub block
	------------------------------------------------------*/
	.sub-block {
			
		.item {
			max-width: 82%;
			
			.wrap {
				.d-left {
					padding:2rem 1rem;
					
					h4 {
						font-size: 1.6em;
						margin-bottom: 2rem;
					}
					
					p {
						font-size: 14px;
					}
					
					.wrap-content {
						left: 1rem;
					}
				}
				
				.d-right {
					height: auto;
										
					.img {
						height: 420px;
					}
				}
			}
		}
		
		&.yachts-blocks {
			.item {
				.wrap {				
					.d-right {					
						.img {
							height: 280px;
						}
					}
				}
			}	
		}	
	}
	
	
	
	
	/*  Yacht
	------------------------------------------------------*/
	.single-yachts {
		 #intro-header {
			 .page-title {
				font-size: 2.6em;
				margin-top: 5rem;
			 }
			 
		 }
	}
	
	#intro-header {
		&.sizeLarge {
			.page-title { 
				font-size: 2.6em;
				margin-top: 5rem;	 
			}
		 }
	}
	
	/*  Slideshows content 
	------------------------------------------------------*/
	.voilivoilou-slideshow-one {
		&.bullets {
			padding-bottom: 40px;
		}
	}
	
	.voilivoilou-slideshow-two,
	.carousel-two-slides {
		&.absolute-arrows {
			
			.slick-next {
				right: -21px;
			}
			
			.slick-prev {
				left: -21px;
			}
			
		}
	}
	
	/*  Yacht carousel
	------------------------------------------------------*/
	.yachts-carousel {
		margin: 0;
		
		.slick-next {
			right: -18px;
		}
		
		.slick-prev {
			left: -18px;
		}
		
		.item {
			padding: 0 6px;
			
			.item-wrap {
				
				.top {
					height: 160px;
					padding: 1rem;
					
					h4 {
					font-size: 1.1em;
					margin-bottom: 20px;
					}
					
					.content {
						font-size: 12px;
					}
				
				}
				
				
				.bottom {
					.img {
						height: 180px;
					}
				}
			}
		}	
	}

	
	
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: All mobile devices
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){

	/*iPhone fix*/
	html{ -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
	.bg-fixed { background-attachment: inherit; }
	
	
	.slideshow {
		
		ul.slick-dots {
		
			li {
				button,
				.dot {
					width: 10px;
					height: 10px;
					border-width: 1px;			
				}
			}
		}
	}
	
	p,
	.entry-content ol li, 
	.entry-content ul li {
		font-size: 0.8em;
	}
	
	
	.single-yachts {
	.voilivoilou-slideshow-two {
		max-width: 100%;
		margin: 0 auto;
		}
	}
	
	#inquiries-form {
		 .wpcf7 {
			 max-width: 100%;
		 }
	}
	
	
	.page-template-page-blue-bg {
		#header {
			.v-logo {
				color: #1d498e;
			}
		}
	}
	
	.text-editor {
		&.entry-content {
				padding: 0 15px;	
			
		}
	}
	
	#preloader  {
		.wrapper {
			width: 100px;
			height: 100px;
			margin: -50px 0 0 -50px;
			
			svg {
				max-width: 100%;
				height: auto;
			}
		}
	}
	
	h2 {
		font-size: 1.2em;
	}
	
	h3 {
		font-size: 1em;
	}
	
	h4 {
		font-size: 0.9em;
	}
	
	.carousel-fx {
		.title {
			line-height: 1.1em;
			padding-right: 0.6rem;
			padding-left: 0.3rem;
		}
	}
	
	
	/*	MAPS
	---------------------------------------------------------*/
	.slideshow-fx {
		
		.dots-nav {
			.wrap {
				.slick-arrow {
					margin-top: -5px;	
					
					&.slick-prev {
						left: -20px;
					}
					
					&.slick-next {
						right: -20px;
					}
				}
			}
		}
		
		ul.slick-dots {
		
			li {
				button,
				.dot {
					width: 9px;
					height: 9px;
					margin: 0 1.5px;			
				}
			}
		}
	}


	
	/*	MAPS
	---------------------------------------------------------*/
	.slideshow-fx {
	
		.Map-img-map {
			
			img {
				max-width: 200% !important;
				left: -50%;
			}
		}
	}
	
	
	/*  Footer
	------------------------------------------------------*/
	#footer {
		.social-media-links,
		#legal-link {	
			left: 0;
		}		
	}
	
	#contact-info {
		margin-bottom: 1rem;
	}


	/*  Header
	------------------------------------------------------*/
	#header {
		height: 45px;
		
		.v-logo {
			top: 11px;
			left: 0;
			right: auto;
			font-size: 1em;
			margin-left: 0;
			
			
			&:hover,
			&:focus {
				top: 13px;
			}
		}
		
		&.template-banner {
			.v-logo {
				color: #1d498e;
			}
		}
		
		.hamburger {
			.line {
				background-color:#1d498e;
			}
		}
		
	}
	
	#mobile-nav {
		display: block;
	}
	
	#header.sub-nav {
		background-color: #FFF;
	}
	
	/*  Main Nav
	------------------------------------------------------*/
	#main-nav {
		display: none;	
	}
	
	
	/*  Home slideshow
	------------------------------------------------------*/
	#hero-slideshow,
	.page-header-bg-video {
		
		h1 {
			font-size: 1em;
			top: 16px;
		}
		
		h2 {
			font-size: 1.8em;
			line-height: 1.2em;
		}
		
		p {
			font-size: 0.9em;
			width: 100%;
			padding: 0 2.5rem;
			margin: 0;
			bottom: 20px;
			left: auto;
		}
		
		
		.slick-arrow {
			bottom: 20px;
		}
		
		.slick-prev {
			left: 5%;
		}
		
		.slick-next {
			right: 5%;
		}
	}
	
	
	.slideshow {
	
		.slick-arrow {
			height: 35px;
			width: 18px;
			background-size: 34px 35px;
			overflow: hidden;
		}
	
		.slick-prev {
			
			&:hover {
				background-position: -1px 0;
			}
			
			&:active {
				background-position: -2px 0 !important;
			}
		}
		
		.slick-next {
			background-position: -18px 0;
			
			&:hover {
				background-position: -17px 0;
			}
			
			&:active {
				background-position: -16px 0 !important;
			}
		}
		
		&.absolute-arrows {
			
			.slick-arrow {
				margin-top: -18px;
				
				&.slick-next {
					right: 3px;
				}
				
				&.slick-prev {
					left: 3px;
				}
				
			}
		}
		
	}
	
	/*  Feat wrapper
	------------------------------------------------------*/
	.voili-feat {
		padding: 2rem 0 2rem;
		
		h3.feat-title,
		h2.desc {
			font-size: 1em;
			line-height: 1.1em;
			margin-bottom: 2rem;
			max-width: 80%;
			
			&.width-50,
			&.width-60,
			&.width-70,
			&.width-80 {
				max-width: 80%;
			}
		}	
	}
	
	/* Home padding
	------------------------------------------------------*/
	#content {
	
		&.page-home {
			padding-top: 3rem;		
		}
	}
	
	/*  Destinations
	------------------------------------------------------*/
	#destinations-feat {
		
		.destination {
			padding: 0 3px;
			
			.item {
				margin-bottom: 6px;
				
				.wrap {
					height: 180px;
					
					h4 {
					font-size: 1em;
					}
				}
			}
		}
	}
	
	
	/*  Boats
	------------------------------------------------------*/
	#boats-feat {
		
		.boat-item {}
		
		 .item {
			 
			 height: 320px;
			 
			 .wrap {
				 padding: 25px 0;
				 
				 .svg {
					 margin-bottom: 25px;
					 
					 svg {
					 	margin: 0 auto;
					 }
				 }
			 }
			 
			 h4 {
				 font-size: 1.1em;
				 line-height: 1.2em;
			 }
		 }
	}
	
	
	/*  Skippers
	------------------------------------------------------*/
	#skippers-feat {
		.item {
			float: none;
			margin: 0 auto 3rem;
			width: 240px;
			
			.wrap {
				height: 240px;
				width: 240px;
				margin-bottom: 0.8rem;
			}
		}
	}
	
	/*  Gallery 8
	------------------------------------------------------*/
	.voilivoilou-photo-gallery {
		
		padding: 0 22px;
		
		.slide {
			
			.wrap {
				border-width: 1px !important;
			}
			
			.item {
				height: 85px;
			}
		}
	}

	
	/*  Clients
	------------------------------------------------------*/
	#clients-feat {
		
		.item {
			padding-bottom: 0.5rem; 
			
			.title {
				margin-bottom: 0.9rem;
			}
			
			.wrap {
				width: auto;
				padding: 0 35px;
			}
			
			.wrap,
			.title,
			p, {
				font-size: 0.9em;
			}
			
			.post-excerpt,
			.date {
				font-size: 0.7em;
			}
		}
		
		.slick-prev {
			left: 7px;
		}
		
		.slick-next {
			right: 4px;
		}
	}
	
	
	/*  Contact Button
	------------------------------------------------------*/
	#contact-button {
		font-size: 1em;
		width: 145px;
		height: 145px;
	}
	
	
	
	
	/*  Form
	------------------------------------------------------*/
	#inquiries-form {
		h3 {
			margin: 2rem auto;
			max-width: auto;
		}
	}
	
	form {
		
		
		
		fieldset {
			margin-bottom: 0.6rem;
		}
		
		label {
			font-size: 0.9em;
			margin-bottom: 0.2rem;
		}
		
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="password"],
		input[type="url"], 
		textarea,
		span.customSelect {
			height: 32px;
			padding: 4px 6px;
			font-size: 0.9em;
			margin-bottom: 0.8rem;
		}
		
		textarea {
			min-height: 100px;
		}
		
		input[type="submit"] {
			margin: 1rem auto 1rem;
			min-width: 180px;
			font-size: 0.8em;
			padding: 4px 0;
		}
		
		input[type="checkbox"] {
			position: relative;
		}
	}
	
	div.wpcf7-response-output {
		font-size: 0.8em;
		line-height: 1.2em;
	}
	
	
	.customSelect{
		padding-top: 6px !important;
		
		.customSelectInner{
			top: 4px;
			
			&:after {
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid #706e73;
				right: 8px;
				top: 10px;			
			}	
			
		}
		
		&.customSelectHover,
		&.customSelectOpen {
			
			.customSelectInner:after {
				top: 10px;
			}
			
		}
		
	}
	
	
	/*  Footer 
	------------------------------------------------------*/
	#footer {
		.inner-top {
			padding: 1rem 0;
		}
		
		.inner-bottom {
			padding: 1rem 0 3rem;
		}
	}
	
	#footer-nav {
		ul {
			li {
				display: block;
				float: none;
				text-align: center;
				width: auto;
				margin-bottom: 1.1rem;
				
				a {
					font-size: 0.9em;
				}
				
				.sub-menu {
					margin-top: 0.1rem;
					
					li {
						margin-bottom: 0;
					}
					
				}
			}
		}
	}
	
	
	#copyrights,
	#legal-link {
		p {
			font-size: 0.8em;
		}
	}
	
	.social-media-links {	
		margin-top: 0.2rem;
		
		ul {
			li {
				margin-right: 8px;
				
				a {
					text-align: right;
					font-size: 2em;	
				}
				
			}
		}
	}
	
	
	/*  Page title
	------------------------------------------------------*/
	.page-title {
		font-size: 1.3em;
		margin-top: 4rem;
	}
	
	.single-yachts {
		 #intro-header {
			 .page-title {
				font-size: 1.3em;
				margin-top: 4rem;
			 }
		 }
	}
	
	#intro-header {
		&.sizeLarge {
			.page-title { 
				font-size: 1.3em;
				margin-top: 4rem;	 
			}
		 }
	}
	
	
	/*  Banner
	------------------------------------------------------*/
	#hero-banner {
		height: 200px;
		padding-top: 44px;
		
		h1 {
			font-size: 1.2em;
		}
	}
	
	
	/*  Sub block
	------------------------------------------------------*/
	.sub-block {
		.item {
			max-width: 100%;
			
			.wrap {
				.d-left {
					float: none;
					width: 100%;
					padding:1rem;
					
					h4 {
						font-size: 1.7em;
						margin-bottom: 2rem;
					}
					
					p {
						font-size: 14px;
					}
					
					.wrap-content {
						position: relative;
						bottom: auto;
						left: auto;
					}
				}
				
				.d-right {
					width: 100%;
					float: none;
					height: auto;
					
					.img {
						height: 380px;
					}
				}
			}
		}
	}
	
	
	/*  Yacht carousel
	------------------------------------------------------*/
	.yachts-carousel {
		margin: 0;
		
		.slick-next {
			right: -14px;
		}
		
		.slick-prev {
			left: -14px;
		}
		
		.item {
			padding: 0 5px;
			
			.item-wrap {
				
				.top {
					height: 160px;
					padding: 0.8rem;
					
					h4 {
					font-size: 0.9em;
					margin-bottom: 20px;
					}
					
					.content {
						font-size: 10px;
					}
				
				}
				
				
				.bottom {
					.img {
						height: 160px;
					}
				}
			}
		}	
	}
	
	
	/*  Slideshows content 
	------------------------------------------------------*/
	.voilivoilou-slideshow-one {
		&.bullets {
			padding-bottom: 40px;
		}
	}
	
	.fx-wrapper {
		.half-col-fx {
			padding-bottom: 0;
		}
	} 
	
	
	/*  Blog
	------------------------------------------------------*/
	#blog-posts {
		padding-top: 50px;
		
		.post {
			padding: 1.5rem 0;
			.date {
				float: left;
				font-size: 0.7em;
				margin-bottom: 1rem;
				position: relative;
				
				&:after {
					content: "|";
					position: absolute;
					right:-9px;
					top: 0;
					color: #a9a9a9;
					font-size: 0.9em;
				}
			}
			
			.share {
				left: 16px;
				.hover {
					font-size: 0.7em;
				}
			}
			
			.post-title {
				margin-bottom: 2rem;
				font-size: 1.4em;
			}
			
		}
	}
	
	#blog-pagination {
		a {
			min-width: auto;
			width: 220px;
			padding: 6px 20px;
			font-size: 0.8em;
		}
	}
	
	
	#page {
	
		&.remove-padding {
			.fx-wrapper {
				.four-col-c,
				.six-col-c,
				.two-col-c {
					.container {
						.row {
							.grid-item {
								padding: 0 15px;
							}
						}
					}
				}
			}	
		}
	}

	
	
	/*  Generic
	------------------------------------------------------*/
	.generic-layout {
		.left-title {
			margin-bottom: 2rem;
		}
	}
	
	
	.entry-content {
		h1 { font-size: 1.8em; }
		h2 { font-size: 1.4em; }
		h3 { font-size: 1.2em; }
		h4 { font-size: 1em; }
		h5 { font-size: 0.8em; }
		h6 { font-size: 0.7em; }
	}
	
	
	#work-nav {
		
		.arrows {
			
			.ent-arr {
				font-size: 15px;
			}
			
			&:after {
				opacity: 1 !important;	
				font-size: 8px;
				line-height: 1.1;
				top:28% !important;
				letter-spacing: 0 !important;
			}
		}
		
			
		.next {
			
			.ent-arr {
				right: 25px;
			}
		}
		
		.prev {
			.ent-arr {
				left: 25px;
			}
		}
	}
	
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Portrait only
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px){
	
	
	/*  Destinations
	------------------------------------------------------*/
	#destinations-feat {
		
		.destination {
			
			.item {
				
				.wrap {
					height: 140px;
				}
			}
		}
	}
	
	
	/*  Boats
	------------------------------------------------------*/
	#boats-feat {
		
		 .item {
			 height: 300px;
			 
			 .wrap {
				 padding: 15px 0;
				 
				 .svg {
					 margin-bottom: 10px;
				 }
			 }
			 
			 h4 {
				 font-size: 1.1em;
			 }
		 }
	}
		
	
	/*  Gallery 8
	------------------------------------------------------*/
	.voilivoilou-photo-gallery {
				
		.slide {
			
			.item {
				height: 60px;
			}
		}
	}

	/*  Clients
	------------------------------------------------------*/
	#clients-feat {
		
		.item {
			
			.wrap,
			.title,
			p, {
				font-size: 0.8em;
			}
			
			.post-excerpt,
			.date {
				font-size: 0.7em;
			}
		}
	}
	
	
	.sub-block {
		.item {
			.wrap {				
				.d-right {					
					.img {
						height: 360px;
					}
				}
			}
		}
	}	
	
	
	.sub-block {
		&.yachts-blocks {
			.item {
				.wrap {				
					.d-right {					
						.img {
							height: 260px;
						}
					}
				}
			}	
		}
	}
	
	
		
		
		
		
}/*Close @media*/