
@mixin br($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg); 
	-moz-transform: rotate($deg); 
    -ms-transform: rotate($deg); 
    transform: rotate($deg);
}

@mixin transition($duration) {
	-webkit-backface-visibility: hidden; 
	-webkit-transition:all $duration ease; 
	-moz-transition:all $duration ease; 
	-o-transition:all $duration ease;
	transition:all $duration ease;
}

@mixin scale($scale) {
	-webkit-transform: scale($scale); 
	-moz-transform: scale($scale); 
	-o-transform: scale($scale);
	transform : scale($scale);
}

// Gradient mixin
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $from;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

// Bar mixin
@mixin bar($color) {
	background-color:$color;
	@include css-gradient( $color, darken($color, 20%) ); 
}
