

/*--------------------------------------------------------------------
	Work Nav
--------------------------------------------------------------------*/
#work-nav {
  display: none;
  background-color: #f1f1f1;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.single-destinations #work-nav,
.single-yachts #work-nav {
		display: block;
}

.single-skippers #work-nav {
	.thumb {
		-webkit-background-size: inherit;
		background-size: inherit;
	}
}

#work-nav a {
  display: block;
  margin: 0;
  height: 80px;
  color: #000;
  float: left;
  position: relative;
  overflow: hidden;
  
  -webkit-transition:all 1.2s ease;
  transition:all 1.2s ease;
}

#work-nav a:hover,
#work-nav a:active {
	background-color: #FFF;
}

/*TITLE ATTRIBUTE*/
#work-nav a.prev::after,
#work-nav a.next::after {
	content: attr(title);
	position: absolute;
	font-size: 16px;
	text-align: center;
	color: #333;
	opacity: 0;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	top: 38%;
	
	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav a.prev::after { left: 10%; }
#work-nav a.next::after { right: 10%; }

#work-nav a.prev:hover::after,
#work-nav a.next:hover::after  {
	opacity: 1;
}

/*ENTITY ARROWS*/
#work-nav .arrows {
  width: 41%;
}

#work-nav .arrows .ent-arr {
	font-size: 30px;
	width: 30px;
	position: absolute;
	left: auto;
	right: auto;
	top: 20%;
	bottom: auto;
	opacity: 1;
	text-align: center;
	
	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav .prev .ent-arr {
	left: 50%;
}

#work-nav .next .ent-arr {
	right: 50%;
}

#work-nav .prev:hover .ent-arr {
	left: 20%;
	opacity: 0;
}

#work-nav .next:hover .ent-arr {
	right: 20%;
	opacity: 0;
}

/*THUMB*/
#work-nav .thumb {
	width: 120px;
	height: 80px;
	display: block;
	position: absolute;
	top:0;
	bottom: auto;
	left: auto;
	right: auto;
	opacity: 0.7;
	
	-webkit-transition:all 1s ease;
    transition:all 1s ease;
}

#work-nav .prev .thumb {
	left: 0;
	
}

#work-nav .next .thumb {
	right: 0;
}

#work-nav .prev:hover .thumb {
	left: 0;
	opacity: 1;
}

#work-nav .next:hover .thumb {
	right: 0;
	opacity: 1;
}

/*THUMB*/
#work-nav .all {
  width: 18%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

#work-nav .all .wrap {
	width: 28px;
	margin:0 auto;
	position: relative;
	top: 33%;
	
	-webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
    
    -webkit-transform: scale(1);
	transform: scale(1);
}

#work-nav .all:hover .wrap {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
} 

#work-nav .all span {
  width: 10px;
  height: 10px;
  margin: 2px;
  display: block;
  float: left;
  background-color: #000;
  position: relative;
  left: auto;
  right: auto;
  bottom: 0;
  top: 0;
  
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}

#work-nav .all:hover span {
	background-color: #666;
}





/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Huge
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1440px){}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: for laptops etc
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and (max-width: 1320px){
	
}/*Close @media*/


	
/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Small
------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1039px) and  (max-width: 1210px) {
	
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Tablet 
------------------------------------------------------------------------------------*/
@media only screen  and (max-width: 1040px){

	/*	Work Nav pagination
	---------------------------------------------------------*/
	#work-nav a.prev::after,
	#work-nav a.next::after {
		font-size: 14px;
		width: auto;
		top: 34%;
	}
	
	#work-nav a.prev::after {
		text-align: right;
		right: 5%;
	}
	
	#work-nav a.next::after {
		text-align: left;
		left: 5%;
	}
	
	#work-nav .next .ent-arr {
		right: 55%;
	}
	
	#work-nav .next .thumb {
		right: 0;
	}
	
	#work-nav .prev .ent-arr {
		left: 55%;
	}
	
	#work-nav .prev .thumb {
		left: 0;
	}
		
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: All mobile devices
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){

	
	/*	Work Nav pagination
	---------------------------------------------------------*/
	#work-nav .all {
		width: 10%;
	}
	
	#work-nav .arrows {
		width: 45%;
	}
	
	#work-nav a {
		height: 40px;
	}
	
	#work-nav a.prev::after,
	#work-nav a.next::after {
		font-size: 9px;
		width: auto;
		top: 38%;
	}
	
	#work-nav a.prev::after {
		text-align: right;
		right: 5%;
	}
	
	#work-nav a.next::after {
		text-align: left;
		left: 5%;
	}
	
	#work-nav .arrows .ent-arr {
		font-size: 20px;
		top: 18%;
		text-align: center;
	}
	
	#work-nav .next .ent-arr {
		right: 65%;
	}
	
	#work-nav .prev .ent-arr {
		left: 65%;
	}

	#work-nav .thumb {
		width: 40px;
		height: 40px;
	} 

	#work-nav .all .wrap {
		top: 36%;
		width: 16px;
	}
	
	#work-nav .all span {
		margin: 1px;
		width: 6px;
		height: 6px;
	}
	
	
	
}/*Close @media*/



/*------------------------------------------------------------------------------------
	MEDIA QUERIES: Portrait only
------------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px){
		
}/*Close @media*/
