.business-review {
  text-align: center;
  color: #000;
  padding: 1rem 0;
  background-color: rgba(251,251,251,.86);
  position: relative;
  margin-top: 4rem;

  p {
    margin: 0 0 1em;
  }
}

.fa-star {
  color: #FBBC04;
  font-size: 18px;
  margin: 0 1px;
}

.rating-stars {
  margin-bottom: .6rem;
  display: inline-block;

  .fa-star {
    font-size: 20px;
  }
}


#clients-feat .item {
  a {
    text-decoration: underline;
    color: #CCC;
  }

  a:hover {
	  color: #F1F1F1;
  }
}


/* Clients
-------------------------------------------------*/
.clients-feat-grid {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    .item-wrap {
      background-color: rgba(251,251,251,.8);
      padding: 1rem;
    }

    .item {
      border: none !important;
    }
  }
}


/* Reviews post
-------------------------------------------------*/
aside {
  .business-review {
    margin-top: 0;
  }
}

.reviews-wrap {
  .item {
    padding: 0 2rem 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #CCC;

    .post-excerpt {
      font-weight: bold;
      margin: 0 0 2rem 0;
    }
  }
}
