/* 1. Styles Basics
-------------------------------------------------------------------------------*/
body {
	color: #333;
	position:relative;
	font:100%/1.1 $gtl, Helvetica, sans-serif;
	background-color:#f5f5f4;
	text-rendering:optimizeLegibility;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	position: relative;
	
	img { 
		max-width: 100%; 
		height: auto; 
	}
}


::-moz-selection{ background-color:#000; color: #FFF; text-shadow: none;}
::selection { background-color:#000; color: #FFF; text-shadow: none;}
ins { background-color:#000; color: #FFF; text-decoration: none;}
mark { background-color:#000; color: #FFF; font-style: normal; font-weight: normal;}
a:link { -webkit-tap-highlight-color:#000;}

a { 
	color:#000; 
	text-decoration:none; 
	cursor: pointer;
	
	&:hover,
	&:focus,
	&:active {
		@include transition(300ms);
		outline: none;
	}
}

/*--------------------------------------------------------------------
		Forms
--------------------------------------------------------------------*/

input, 
textarea, 
select,
button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	-webkit-appearance:none; 
	-webkit-border-radius:0;
}

fieldset { 
	border: none; 
	padding: 0; 
	margin-bottom: 2rem;
}

form {
	
	input[type="text"],
	input[type="date"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="url"],
	textarea,
	span.customSelect {
		background-color:rgba(251,251,251,1);
	    border: none;
	    font-family: $gtl;
	    color:#333;
	    display:block;
	    width:100%;
	    padding: 6px 12px;
	    height: 46px;
	    
	    @include transition(600ms);
	}
	
	input[type="text"]:focus,
	input[type="date"]:focus,
	input[type="email"]:focus,
	input[type="tel"]:focus,
	input[type="password"]:focus,
	input[type="url"]:focus,
	textarea:focus {
		background-color:rgba(251,251,251,.5);
		color: #FFF;
	}
	
	.wpcf7-form-control-wrap:hover,
	.wpcf7-form-control-wrap:focus {
		
		span.customSelect {
			background-color:rgba(251,251,251,.5);
			color: #FFF;
		}
	}
	
	textarea {
		min-height: 190px;
	}
	
	label {
		display: block;
		font-family: $gtl;
		color: #FFF;
		margin-bottom: 0.8rem;
		font-size: 1.3em;
		
		i {
			color: #FF0000;
		}
	}
	
	input[type="submit"] {
		font-family: $gtl;
		letter-spacing: 1px;
		text-transform: uppercase;
		background-color: rgba(251,251,251,0);
		border: 1px solid #FFF;
		padding: 12px 20px;
		color:#FFF;
		min-width: 400px;
		text-align: center;
		margin: 4rem auto 1rem;
		display: block;
		
		@include transition(600ms);
		
		&:hover,
		&:focus,
		&:active {
			background-color: rgba(251,251,251,1);
			color: #333;
		}
	}
	
	input::placeholder {
		color: #333;
	}
	
	
	input[type="checkbox"] {
		   height:1em;
		   width:1em;
		   cursor:pointer;
		   background-color:#FFF;
		   position: relative;
		   color: #706e73;
		   top: 2px;
		   
		   @include br(2px);
		}
		
	input[type="checkbox"]:checked {
	   background-color:#F1F1F1;
	}
	
	input[type="checkbox"]:before, 
	input[type="checkbox"]:checked:before {
		 position:absolute;
		 top:0;
		 left:-3px;
		 width:100%;
		 height:100%;
		 line-height:1em;
		 text-align:center;
		 color:#706e73;
	}
			
	input[type="checkbox"]:checked:before {
	 content: '✔';
	 color: #706e73;
	}
	
	input[type="checkbox"]:hover:before {
	 background:rgba(255,255,255,0.3);
	}
	
	.newsletter-checkbox {
		input {
			position: relative;
			top: -2px;
		}
	}
	
	.wpcf7-list-item {
		margin-left: 10px;
		
		.wpcf7-list-item-label {
			color: #FFF;
		}	
	}
}
 
 /*--------------------------------------------------------------------
		Contact form 7
--------------------------------------------------------------------*/
 .wpcf7-not-valid-tip {
	display: none !important;
}

 .wpcf7-not-valid {
	background-color: rgba(255,0,0,.7) !important;
	color: #FF0000;
}

div.wpcf7-response-output {
	border: none !important;
	background-color: transparent !important;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0 !important;
	font-weight: 400;
	font-size: 1em;
	
	&.wpcf7-validation-errors {
		color: #FF0000;	
	}
	
	&.wpcf7-mail-sent-ok {
		color: #FFF;
	}
}

.ajax-loader {
	width: 16px;
	height: 16px;
	margin: 0 auto !important;
	display: block;
	position: relative;
}

/*--------------------------------------------------------------------
		Custom Select
--------------------------------------------------------------------*/

.custom-select{
	position: relative;
	cursor: pointer;
	width: 100%;
	
	&.hasCustomSelect {
		z-index: 3;
	}
	
	option {
		font-style: normal;
		padding:6px 8px;
	}
}


.customSelect{
	z-index: 1;
	padding-top: 9px !important;
	
	.customSelectInner{
		cursor: pointer;
		display: block !important;
		overflow: hidden;	
		top: 2px;
		
		&:after {
			width: 0; 
			height: 0; 
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			border-top: 15px solid #706e73;
			display: block;
			content: " ";
			position: absolute;
			right: 15px;
			top: 15px;
			left: auto;
			bottom: auto;
			
			@include transition(600ms);
		}	
		
	}
	
	&.customSelectHover,
	&.customSelectOpen {
		
		.customSelectInner:after {
			top: 17px;
		}
		
	}
	
}


/*--------------------------------------------------------------------
		NO JS
--------------------------------------------------------------------*/
.no-js-msg { 
	position: fixed;
	left: 0;
	top: 45%;
	width: 100%;
	display: block;
	font-size: 4em;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-weight: bold;
	z-index: 999;
}


/*-------------------------------------------------------------------------------
	Preloader 
-------------------------------------------------------------------------------*/



#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #FFF;
	z-index: 999;
	left: 0;
	top: 0;
	display: block;
	opacity: 1;
	@include transition(0.6s);
	
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	
	.wrapper {
	    width: 166px;
	    height: 166px;
	    position: absolute;
	    left: 50%;
	    right: auto;
	    margin:-83px 0 0 -83px;
	    top: 50%;	    
	    -webkit-animation-name: preloader-2;
		-webkit-animation-duration:1.2s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode:both;
		-webkit-animation-iteration-count: infinite;
	    
	    animation-name: preloader-2;
		animation-duration:1.2s;
		animation-timing-function: ease-in-out;
		animation-fill-mode:both;
		animation-iteration-count: infinite;
	    
	    .circle {
		    display: block;
		    position: relative;
		    
		    -webkit-animation-name: preloader-1;
			-webkit-animation-duration:1.2s;
			-webkit-animation-timing-function: ease-in-out;
			-webkit-animation-fill-mode:both;
			-webkit-animation-iteration-count: infinite;
		    
		    animation-name: preloader-1;
			animation-duration:1.2s;
			animation-timing-function: ease-in-out;
			animation-fill-mode:both;
			animation-iteration-count: infinite;
		    
			
		    span {
			    position: absolute;
			    top: 42%;
			    width: 100%;
			    left: 0;
			    text-align: center;   
		    }
	    }
	}	

}

/***IMPORTANT***/
#page {
	opacity: 0;
	@include transition(1s);
	
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

.body-loaded { 
	
	#preloader {
		opacity: 0;
		z-index: -1;
	}
	
	#page {
		opacity: 1;
	}
} 

/*Preloader Animation*/
@-webkit-keyframes preloader-1 {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes preloader-1 {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}


@-webkit-keyframes preloader-2 {
	0% {
		@include scale(1);
	}
	
	50% {
		@include scale(1.1);
	}
	
	100% {
		@include scale(1);
	}
}

@keyframes preloader-2 {
	0% {
		@include scale(1);
	}
	
	50% {
		@include scale(1.1);
	}
	
	100% {
		@include scale(1);
	}
}


/*-------------------------------------------------------------------------------
	Typography 
-------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 { 
	font-weight:normal; 
	font-family: $gtl;
	margin: 0 0 5px 0; 
	color: #4d4d4d; 
}

h1 { font-size: 3.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p {
	font-size: 17px;
	line-height: 1.6em;
	font-family: $gtl;
	margin:0 0 1.8em; 
	color: #5d5d5d;
}

strong	{ font-family: $gtm; font-weight: normal; }
em		{ font-style: italic; }
small	{ font-size: 85%; }


/*-------------------------------------------------------------------------------
	 Default Wordpress Article 
-------------------------------------------------------------------------------*/
.aligncenter { 
	margin-left: auto; 
	margin-right: auto; 
}

.alignleft { 
	float: left; 
	margin-right: 15px; 
	margin-bottom: 15px; 
	margin-top: 6px;  
}

.alignright { 
	float: right; 
	margin-left: 15px; 
	margin-bottom: 15px; 
	margin-top: 6px; 
}

.entry-content {
	
	.social-media-links {
		ul {
			li {
				margin-right: 1rem;
				list-style: none !important;
				
				&:before {
					display: none !important;
				}
			}
		}
	}
	
	img { 
		 max-width:100%; 
		 height: auto; 
		 display: block; 
	}
	
	h1,h2,h3,h4,h5,h6 {
		margin:0 0 8px;
		padding:0;
	    color:#4d4d4d;
	    line-height: 1.4em;
	}
	
	h1 { font-size: 3.2em; }
	h2 { font-size: 2em; }
	h3 { font-size: 1.8em; }
	h4 { font-size: 1.4em; }
	h5 { font-size: 1.2em; }
	h6 { font-size: 1em; }
	
	
	ul {
		margin-left:10px;
		margin-bottom:30px;
		
		li{
			list-style: none;
		    margin-bottom:4px;
		    
		    &::before {
			    content: "•";
			    position: relative;
			    left: -5px;
			    font-family: $gtl;
			    font-size: 1.1em;
		    }
		}
	
	}
	
	ol {
		margin-left:30px;
		margin-bottom:30px;
		
		li{
			list-style: decimal;
		    margin-bottom:4px;
		}
	}
	
	
	ol li,
	ul li {
		color: #5d5d5d;
	    font-weight: 400;
	    font-size:17px;
	    line-height:1.4em;
	    font-family: $gtl;
	}
	
	p { 
		margin:0 0 1.8em; 
		color: #5d5d5d;
		
		a {
			color:#004790;
		    text-decoration: underline;
		    
		    &:hover,
			&:active{
				text-decoration:underline;
			}
		}
	}
	
	strong { font-weight: normal; }

}



blockquote {
	display: block;
	margin-bottom:15px;
	font-style: italic;
	font-family: Georgia !important;
	font-style: italic !important;
	padding: 20px;
	text-align: center;
	
	p{
		display: inline;
		font-family: Georgia !important;
		font-style: italic !important;
		position: relative;
		padding: 1rem 2rem 0;
		background-color: transparent;
		
		&:before,
		&:after {
			color: #CCC;
			position: absolute;
			height: 0.5rem;
			font-size: 10em;
			line-height: 0.75em;
			top:-10px;
		}
		
		&:before {
			content: '“';
			left: -0.3em
		}
		
		&:after {
			content: '”';
		}
	}

}
 

/*-------------------------------------------------------------------------------
	 Buttons
-------------------------------------------------------------------------------*/
.btn {
	min-width: 150px;
	max-width: 380px;
	display: block;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
	
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}


.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}



.btn:hover {
	color: #000;
	border-color: #FFF;
}

.btn:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}



/*-------------------------------------------------------------------------------
	 Internet explorer message - Update your browser
-------------------------------------------------------------------------------*/
#ie-message {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	left: 0;
	top: 0;
	background-color: rgba(251,251,251,.9);
	
	.wrap {
		width: 270px;
		margin: 0 auto;
		border: 4px solid #CCC;
		position: relative;
		border: 4px solid #CCC;
		background-color: #F1F1F1;
		padding: 20px;
		
		@include br(5px);
		
		.fa {
			position: absolute;
			right: 7px;
			top: 4px;
			color: #000;
			width: 17px;
			height: 15px;
			padding-top: 2px;
			z-index: 99999;
			font-size: 20px;
			cursor: pointer;
		}
		
		h5 {
			line-height: 1.2em;
			font-size: 1em;
		}
		
		.desc  {
			font-size: 0.9em;
			font-family: $gtm;
			margin-bottom: 20px;
		}
	}
}

