.faq-wrapper {
	margin-bottom: 1rem;
	
	.faq-title{
		padding: 1rem;
		background-color: #F1F1F1;
		border: 1px solid #CCC;
		cursor: pointer;
		display: block;
		p {
			margin: 0 !important;
		}
	}
	
	.faq-content {
		padding: 0.1rem 1rem 0;
		background-color: #FFF;
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		display: none;
	}
}

.faq-section {
	margin-bottom: 4rem;
	
	.title {
		margin-bottom: 1rem;	
	}
}