/*  GLOBAL STYLES
------------------------------------------------------*/
.slideshow {
	
	.slick-arrow {
		background-color: transparent;
		background-repeat: no-repeat;
		background-image: url('../images/arr.png');
		background-position: 0 0;
		text-indent: -9999px;
		border: 0;
		outline: none;
		vertical-align: middle;
		height: 70px;
		width: 34px;
		display: block;
		padding: 0;
		
		@include transition(200ms);
	}
	
	&.absolute-dots {
		
		.dots-nav {
			position: absolute;
			z-index: 3;
			left: 0;
			width: 100%;
			height: auto;
		}
	}
	
	
	.slick-prev {
		background-position: 0 0;
		float: left;
		
		&:hover {
			background-position: -2px 0;
		}
		
		&:active {
			background-position: -3px 0 !important;
		}
	}
	
	.slick-next {
		background-position: -34px 0;
		float: right;
		
		&:hover {
			background-position: -32px 0;
		}
		
		&:active {
			background-position: -31px 0 !important;
		}
	}
	
	
	ul.slick-dots {
		clear:left; 
		float:left; 
		position:relative; 
		left:50%; 
		text-align:center; 
		list-style:none; 
		margin:0 !important; 
		padding:0 !important;
		
		li {
			display:block; 
			float:left; 
			position:relative; 
			right:50%;
			list-style: none !important;
			line-height: inherit !important;
			
			button,
			.dot {
				display:block; 
				margin:0 3px;
				background: transparent;
				border: none;
				height: 12px;
				width: 12px;
				text-indent: -9999px;
				position: relative;
				cursor: pointer !important;
				border: 2px solid #6f6f6f;
				@include transition(900ms);
				@include br(50%);
				
				&:hover {
					background-color: #6f6f6f;
				}
			}
			
			&.slick-active {
				
				button,
				.dot {
					background-color: #6f6f6f;
				}
			}
		}
	}	
	
}

.slick-slide {
	img {
		margin-left: auto;
		margin-right: auto;
	}
}

.absolute-arrows {
	
	.slick-arrow {
		position: absolute;
		top:50%;
		margin-top: -35px;
		z-index: 3;
	}
	
	.slick-prev {
		left: -5px;
	}
	
	.slick-next {
		right: -5px;
	}
}


/*  HOME SLIDESHOW
------------------------------------------------------*/
#hero-slideshow,
.page-header-bg-video {
	overflow: hidden;
	
	h1,
	h2,
	h3,
	p {
		position: absolute;
		color: #FFF;
		font-weight: 400;
		text-align: center;
		display: block;
		z-index: 3;
		
		b,
		strong {
			font-weight: 500 !important;
		}
	}
	
	a.link {
		text-decoration: none !important;
		color: #FFF;
		font-family: $gtl;
	}
	
	h1 {
		top: 45px;
		width: 100%;
		font-size: 26px;
		line-height: 1.3em;
		font-family: $gtl;
		letter-spacing: 1px;
		text-align: center;
		
		strong {
			font-family: $gtm;
			letter-spacing: 1px;
			display: block;
		}
	}
	
	h2 {
		top: 36%;
		width: 100%;
		left: 0;
		font-size: 4.2em;
		font-weight: 300;
		font-family: $gtl;
	}
	
	p {
		top: auto;
		bottom: 50px;
		left: 50%;
		font-size: 19px;
		width: 660px;
		margin-left: -330px;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
		z-index: 4;
	}
	
	
	.slick-arrow {
		bottom: 40px;
		z-index: 5;
		top:auto;
	}
	
	.slick-next {
		right: 20%;
	}
	
	.slick-prev {
		left:20%;
	}
	
	.slick-arrow {
		background-image: url('../images/arr-home.png');
		
	}
	
	
	.slick-slide {
		overflow: hidden;
		position: relative;
		cursor: pointer;
		height: 68vh;
		
		.slide-img {
			height: 100%;
			min-height: 100%;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			display: block;
			z-index: 2;
		}
		
		&.slick-active {
			
			.slide-img {
				-webkit-animation: scaleImg 12s linear 0.8s infinite alternate; 
				animation: scaleImg 12s linear 0.8s infinite alternate;
			}
		}
	}
	
}



@keyframes scaleImg {
	from { 
		transform: scale(1); 
	}
	
	to { 
		transform: scale(1.1); 
	}
}

@-webkit-keyframes scaleImg {
	from { 
		-webkit-transform: scale(1); 
	}
	
	to { 
		-webkit-transform: scale(1.1); 
	}
}


/*  Photo - Gallery
------------------------------------------------------*/


.voilivoilou-photo-gallery {
	position: relative;
	padding: 0 55px;
	
	.slick-prev {
		left: -5px;
	}
	
	.slick-next {
		right: -5px;
	}
	
	.slide {
		
		&:hover {
			
			.item {
				opacity: 0.3;
			}
			
		}
		
		.wrap {
			overflow: hidden;
			padding: 0 !important;
			
			/*Border right*/
			&:nth-child(1n),
			&:nth-child(2n),
			&:nth-child(3n),
			&:nth-child(5n),
			&:nth-child(6n),
			&:nth-child(7n) {
				border-right: 2px solid #FFF;
			}
			
			&:nth-child(4n),
			&:nth-child(8n) {
				border-right: none !important;
			}
			
			/*Border bottom*/
			&:nth-child(1n),
			&:nth-child(2n),
			&:nth-child(3n),
			&:nth-child(4n) {
				border-bottom: 2px solid #FFF;
			}
			
			&:nth-child(5n),
			&:nth-child(6n),
			&:nth-child(7n),
			&:nth-child(8n) {
				border-bottom: none !important;
			}
		}
		
		.item {
			height: 240px;
			display: block;
			opacity: 1;
			
			@include transition(1.4s);
			@include scale(1);
			
			&:hover {
				@include scale(1.1);
				opacity: 1 !important;
			}
		}
	}
}


/*  Photo - Gallery
------------------------------------------------------*/
.slideshow-fx {
	overflow: hidden;
	
	.Map-img-map {
		overflow: hidden;
		img {
			position: relative;
			
		}
	}
	
	&.one-slide {
		.slide {
			padding-bottom: 0 !important;
		}
	}
	
	.slide {
		padding-bottom: 160px;	
		position: relative;
		background-color: #fafaf8;
		padding-left: 0;
		padding-right: 0;
		
		&.Map-img-map {
			padding: 0;
		}
		
		&.slide-2col {
			padding-top: 50px;
		}
	}
	
	.title-bottom {
		position: absolute;
		color: #4d4d4d;
		font-weight: 400;
		text-align: center;
		display: block;
		z-index: 3;	
		width: 100%;
		bottom: 70px;
		left: auto;
		font-size: 1.1em;
		font-family: $gtl;
	}
	
	p {
		color: #4d4d4d;
	}
	
	.dots-nav {
		bottom: 42px;
		
		.wrap {
			position: relative;
			margin: 0 auto;
			
			.append-dots {
				position: relative;
				top: 10px;
			}
			
			.slick-arrow {
				top: 0;
				
				&.slick-prev {
					left: -100px;
				}
				
				&.slick-next {
					right: -100px;
				}
			}
		}
	}
	
}


/*  Yachts
------------------------------------------------------*/
.yachts-carousel {
	
	.slick-prev {
		left: -51px;
	}
	
	.slick-next {
		right: -50px;
	}
	
	.item-wrap {
		background-color: #FFF;
		display: block;
		
		
		h4 {
			color: #4d4d4d;
			font-size: 1.6em;
			line-height: 1.1;
			font-family: $gtl;
			margin:0 0 95px;
			position: relative;
			
		}
		
		p {
			font-size: 1.1em;
			font-family: $gtl;
			
		}
		
		.top {
			height: 290px;
			padding: 2rem;
			
		}
		
		.bottom {
			overflow: hidden;
			
			.img {
				display: block;
				height: 300px;
				@include scale(1);
				@include transition(400ms);
				
			}
		}
		
		&:hover,
		&:focus {
			.bottom {
				.img {
					@include scale(1.1);
					@include transition(400ms);
				}
			}
		}
		
	}	
}



/*  Slideshow
------------------------------------------------------*/
.voilivoilou-slideshow-one {
	
	.item {
		height: 360px;
		display: block;
	}
}


.voilivoilou-slideshow-one,
.voilivoilou-slideshow-two {
	.slick-dots {
		bottom: -15px;
	}
}


.voilivoilou-slideshow-two {
	
	.slick-prev {
		left: -50px;
	}
	
	.slick-next {
		right: -50px;
	}
}


/*  Carousel
------------------------------------------------------*/
.carousel-fx {
	
	.title {
		margin-bottom: 4rem;
		padding-right: 4rem;
	}
	
	.desc {
		padding: 3rem 0;
	}
	
	.img {
		
	}
	
	.centered {
		margin: 0 auto;
		display: block;
	}
	
	.slick-prev {
		left: -60px;
	}
	
	.slick-next {
		right: -50px;
	}
} 