

/*  HEADER - header.php
------------------------------------------------------*/
#header {
	top:0;
	left: 0;
	right: auto;
	bottom: auto;
	z-index: 999;
	width: 100%;
	height: 70px;
	background-color: rgba(255,255,255,0);
	
	//php class - header.php
	&.home-nav {
		background-color: rgba(255,255,255,1);
		position: absolute;
		
			//JS class - on scroll for home page only
			&.fixed-header {
				position: fixed !important;
				bottom: auto;
				top: 0 !important;
			}
	}
	
	//php class - header.php - position for all subpages
	&.sub-nav {
		position: fixed;
		
		-webkit-transition: background-color 300ms;
		transition: background-color 300ms;
	}
	
	//JS class for templates thats has banner
	&.template-banner {
		.v-logo {
			color: #FFF;
		}	
		
		#main-nav {
			ul {
				li {
					a {
						color: #FFF; 
						
						&:after {
							background-color: rgba(255,255,255,0.6);
						}	
					}
				}
			}	
		}
	}
	
	/*JS class - COLORS FOR TRANSPARENT HEADER WHILE YOU SCROLL */
	&.add-bg {
			background-color: rgba(255,255,255,1);
			
		.v-logo {
			color: #1d498e;
		}
		
		#main-nav {
			
			ul {
				li {
					a {
						color: #1d498e;
						
						&:after {
							background-color: rgba(29,73,142,.6);
						}
					}
				}
			}
		}
	}

	
	//Header Logo
	.v-logo {
		left: 50%;
		margin-left: -60px;
		position: absolute;
		z-index: 2;
		top: 21px;
		bottom: auto;
		right: auto;
		
		@include transition(0.6s);
		
		&:hover {
			top: 24px;
		}
		
	}
}


/*  LOGO - Global
------------------------------------------------------*/
.v-logo {
	color: #1d498e;
	font-family: $gtm;
	text-align: center;
	text-transform: inherit;
	font-size: 22px;
	width: 120px;
	display: block;
	letter-spacing: 1px;
	
}

/*  MOBILE HEADER
------------------------------------------------------*/
#mobile-header {
	display: none;
}


/*  Main NAV
------------------------------------------------------*/
.page-template-page-blue-bg {
	#main-nav {
		.sub-menu {
			li {
				a {
					color: #FFF;
				}
			}
		}
	}
}

#main-nav {
	position: relative;
	z-index: 1;
	top: 21px;
	
	> ul {
		> li:first-child {
			.sub-menu {
				margin-left: 0;
				left:-20px;
				
				&:after {
					left: 80px;
				}
			}
			
			
		}	
	}
	
	.sub-menu {
				
		&:after{
			position: absolute;
			left: 130px;
			top: -10px;
			content: "";
			width: 0; 
		  height: 0; 
		  border-left: 10px solid transparent;
		  border-right: 10px solid transparent;
		  
		  border-bottom: 10px solid #1d498e;
		}
		
		display: none;
		position: absolute;
		top:60px;
		left: -50%;
		margin-left: -55px;
		width: 280px;
		padding: 15px;
		
		-webkit-border-radius: 4px;
		border-radius: 4px;
		
		background-color: #1d498e;
		
		li {
			float: none !important;
			display: block;
			width:100%;	
			margin: 0 !important;
			
			a {
				display: block;
				background-color: rgba(29,73,142,1);
				color:#FFF !important;
				padding: 1rem 2rem 0.6rem 0.5rem;
				font-size: 16px;
				border-bottom: 1px solid #6382b1;
				top:0;
				
				@include transition(0.2s);
				
				&:hover {
					background-color: rgba(29,73,142,0.8);
				}
				
			}
		}
		
		> li {
			&:last-child {
				a {
					border-bottom: none;
					padding-bottom: 0.5rem;
				}
			}
			
			&:first-child {
				a {					
					padding-top: 0.5rem;
				}
			}
		}
	}
	
	
	
	ul {
		padding: 0;
		margin: 0;
		
		> li {
			list-style: none;
			margin: 0 1rem;
			
			
			&.menu-item-has-children {
				position: relative;
				
				> a {
					padding-bottom: 16px;
				}
				
				a {
					
					&:hover {
					top:0 !important;
					}
					
					
					&:after{
						display: none !important;
						opacity: 0 !important;
					}
					
					&:hover::after,
					&:focus::after {
						display: none !important;
						opacity: 0 !important;
					}
				}
			}

			a {
				color: #1d498e;
				font-weight: 400;
				font-size: 21px;
				font-family: $gtl;
				letter-spacing: 1px;
				position: relative;
				top:0;
				outline: none;
				text-shadow: 0 0 1px rgba(255,255,255,0.3);
				display: inline-block;
				padding-bottom: 1px;
				
				@include transition(0.2s);
				
				&:after {
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 3px;
					content: '';
					opacity: 0;
					background-color: rgba(29,73,142,.6);
					
					-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
					-moz-transition: opacity 0.3s, -moz-transform 0.3s;
					transition: opacity 0.3s, transform 0.3s;
					
					-webkit-transform: translateY(10px);
					-moz-transform: translateY(10px);
					transform: translateY(10px);
				}
				
				&:hover::after,
				&:focus::after {
					opacity: 1;
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					transform: translateY(0px);
				}
				
				&:hover {
					opacity: .8;
					top: 1px;
				}
			}
			
			&.current-menu-item {
				
				a::after {
					opacity: 1;
				
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					transform: translateY(0px);
				}
				
			}
			
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3){
				float: left;
			}
			
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6){
				float: right;
			}
			
			&:nth-child(1) {
				margin-left: 2.5rem;
			}
			
			&:nth-child(6) {
				margin-right: 1rem;
			}
		}
		
	}
	
}

//3rd level 
#main-nav {
	.sub-menu {
		li {
			.sub-menu {
				top: -36px;
				left: auto;
				right: -310px;
				margin-left: auto;
				
				&::after {
					left: -15px;
					top: 45%;
					-webkit-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
				}
				
				> li {
					a {
						border-bottom: 1px solid #6382b1;
					}
					
					&:last-child {
						a {
							border-bottom: none;
							padding-bottom: 0.5rem;
						}
					}
					
					&:first-child {
						a {					
							padding-top: 0.5rem;
						}
					}
				}
			}	
		}
	}	
}