.page-id-5673,
.page-id-5676,
.page-id-5678,
.page-id-5587,
.page-id-5609,
.page-id-5616 {
	#inquries {
		display: none;
	}
}


/*  Contact form
------------------------------------------------------*/
#ui-datepicker-div {
	font-size: 1em;
	z-index: 5 !important;
}

.dates-flexible {
	position: relative;
	left: 15px;
	
	.wpcf7-list-item-label {
		font-size: 0.7em;
		font-weight: 300;
	}
}


/*  Footer
------------------------------------------------------*/
#footer {
	color: #FFF;
	
	p,
	li {
		color: #FFF;	
	}
	
	
	.inner-top {
		background-color: #004e9f;
	}
	
	.inner-bottom {
		background-color: #004792;
	}
	
	.inner-top,
	.inner-bottom {
		padding: 4rem 0 4rem;
	}
}

/*  Footer nav
------------------------------------------------------*/
#footer-nav {
	
	ul {
		
		li {
			margin-bottom: 0.6rem;
			
			a {
				font-size: 17px;	
				position: relative;
				
				@include transition(0.8s);
				color:#d9d9d9;
				left: 0;
				right: auto;
				opacity: 1;
				
				&:hover {
					color: #FFF;
				}
			}
		}
	}
	
	> ul > li {
		float: left;
		width: 25%;
		padding-right: 15px;
		
		> a {
			font-size: 19px;	
			color: #FFF;
			font-family: $gtm;
			letter-spacing: 1px;
		}
		
		> ul {
			margin-top: 0.6rem;
		}
	}	
}



/*  Copyrights - Legal - Contact - Social
------------------------------------------------------*/
#contact-info {
	margin-bottom: 5rem;
	
	p {
		margin: 0;
	}
	
	a {
		position: relative;
		left: 0;
		right: auto;
		opacity: 1;
		color: #d9d9d9;
		
		@include transition(0.2s);
		
		&:hover {
			color: #FFF;
			text-decoration: underline;
		}
	}
}

#copyrights,
#legal-link {
	
	font-size: 12px;
	
	p {
		font-size: 12px;
		color: #FFF;
		margin: 0;
		line-height: inherit;
		font-weight: 400;
	}
	
	a {
		@include transition(200ms);
		color: #d0d0d0;
		
		&:hover {
			text-decoration: underline;
			color: #FFF;
		}
	}
}

#legal-link {
	margin-top: 1rem;
}




/*  Social Media
------------------------------------------------------*/
#footer {
	.social-media-links,
	#legal-link {	
		position: relative;
		left: 0;
	}	
}

.footer-message {
	p {
		font-size: 1em;
		line-height: 1.1;
	}
}

.social-media-links {	
	margin-bottom: 1.5rem;
	position: relative;
	left: 0;
	
	//White
	&.white-icons {
		a {
			color: #FFF;
		}
	}
	
	//Grey
	&.grey-icons {
		a {
			color: #878787;
		}
	}
	
	ul {
		li {
			margin-right: .6rem;
			
			a {
				font-size: 2em;
				
				opacity: 1;
				
				@include transition(400ms);
				@include scale(1);
				
				&:hover {
					@include scale(1.1);	
					opacity: .8;
				}
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

