
.page-header-bg-video {
  position: relative;
  height: 80vh;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  //providing fallback for IE 10 + 11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: auto;
  }
  @supports not (object-fit: cover) {
    height: auto;
  }
  @supports not (background-blend-mode: color-dodge) {
    height: auto;
  }

  video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .header-secondary-image {
    position: absolute;
    top: 0;
    left: 0;
  }
}
