/*
==============================================
	Shortcodes
==============================================*/
.hide { 
	display: none; 
}

.ovf-h {
	overflow: hidden;
}

.cf { 
	zoom:1; 
	
	&:before, 
	&:after { 
		content:""; 
		display:table; 
	}
	
	&:after {
		clear:both;
	}
}

.clear{ 
	clear:both; 
	overflow: hidden; 
	height:0; 
	zoom: 1; 
}

.right { 
	float:right; 
	display:block; 
}

.left { 
	float:left; 
	display:block; 
}

ul, 
ul li, 
ol, 
ol li { 
	margin:0; 
	padding: 0; 
	list-style-type: none; 
}

.cul { 
	width:100%; 
	overflow:hidden; 
	position:relative;
	
	ul {
		clear:left; 
		float:left; 
		position:relative; 
		left:50%; 
		text-align:center; 
		list-style:none; 
		margin:0; 
		padding:0;
		
		li {
			display:block; 
			float:left; 
			position:relative; 
			right:50%;
			
			a {
				display:block; 
				margin:0 5px;
			}
		}
	}
}


.hul {
	
	ul{ 
		display:block; 
		float:left; 
		width:auto; 
		
		li {
			display:block; 
			float:left;
			
			a {
				display:block; 
				float:left;
			}
		}
	}
}

.mauto{ 
	margin-left:auto; 
	margin-right:auto; 
}

.unselectable{ 
	-webkit-user-select: none;	
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.bg-cover { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed { 
	background-attachment: fixed; 
}

.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;
    
    .vcenter-inner {
    	display: table-cell;
    	vertical-align: middle;
	}
}


.tooltip {
	&:hover:after {
		background: #333;
	    background: rgba(0,0,0,.8);
	    border-radius: 5px;
	    bottom: 26px;
	    color: #fff;
	    content: attr(title);
	    left: 20%;
	    padding: 5px 15px;
	    position: absolute;
	    z-index: 98;
	    width: 120px;
	}
	
	&:hover:before{
	    border: solid;
	    border-color: #333 transparent;
	    border-width: 6px 6px 0 6px;
	    bottom: 20px;
	    content: "";
	    left: 50%;
	    position: absolute;
	    z-index: 99;
	}
}