/*  Mobile Nav
------------------------------------------------------*/
.mobile-menu-open {
	#mobile-fixed-nav {
		right: 0;
	}
}

#mobile-fixed-nav {
	position: fixed;
	right: -241px;
	left: auto;
	bottom: auto;
	top: 0;
	width: 220px;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-color: rgba(29,73,142,1);
	z-index: 9999;
	
	@include transition(400ms);
	
	#close-mobile-menu {
		text-align: right;
		position: absolute;
		right: 10px;
		top: 8px;
		width: 30px;
		height: 30px;
		background: transparent url('../images/close-icon.png');
		background-size: 30px 30px;
		border: none;
		
		@include transition(400ms);
		
		&:hover {
			opacity: .8;	
			top: 0.7em;
		}
	}
	
	.nav-wrap {
		padding: 35px 0 0 26px;
	}
	
	.social-media-links {
		margin: 7px 0 5px 26px;
		ul {
			
			li {
				margin-right: 9px;
					
				a {
					font-size: 1.6em;
				}
				
			}
		}
	}
	
	ul {

		li {
			list-style: none;
			text-align: left;
			line-height: 1.3;
			a {
				color: #FFF;
				left: 0;
				position: relative;
				right: auto;
				opacity: 1;
				
				@include transition(350ms);
				
				&:hover {
					opacity: .8;
				}
			}
			
			&.current-menu-item {
				
				> a {
					opacity: .8;
				}
			}
		}
		
		
		> li {
			
			> a {
				font-size: 1em;
				font-weight: 500;
				position: relative;
			}
			
			ul.sub-menu {
				margin: 0.2rem 0 0.7rem 0;
				
				li {

					&.current-menu-item {
						text-decoration: underline;
						opacity: .8;
					}
					
					a {
						font-size: 0.9em;
						font-weight: 400;
						
						&:hover {
							left: 2px;
						}
						
					}
				}	
			}
		}	
	}
}


#mobile-nav {
	float: right;
	margin:15px 20px 0 0;
	display: none;
	
	.hamburger { 
		height:auto; 
		display:block; 
		color: #000;
		width:34px; 
		
		.line {
		  background-color:#1d498e; 
		  display: block; 
		  height:2px;  
		  margin-bottom:4px;  
		  width:100%; 
		  position: relative;
		  top:0;
		  left: 0;
		  bottom: auto;
		  right: auto;
		  
		  @include transition(400ms);
		  @include br(2px);
		}
	}
}

