/*BAD CSS for Quick fixes */
.page-id-93 {
	.fx-wrapper {
		padding:2rem 0;
	}
}

body:not(.home),
body:not(.home)  {
	
	#destinations-feat,
	#boats-feat {
			.visible-animation {
			opacity: 1 !important;
			-webkit-animation-name: none !important;
			animation-name: none !important;
		}
	}
}


.page-reservation {
	#flexible-content-wrapper {
		padding: 0;
	}
}

.single-yachts {
	.voilivoilou-slideshow-two {
		max-width: 80%;
		margin: 0 auto;
	}
	
	#flexible-content-wrapper {
		padding-bottom: 0;
		padding-top: 0;
	}
	
	#inquries {
		display: none;
	}
	
	#inquiries-form {
		height: 100%;
	}
}



.page-template-page-blue-bg {
	
	#header {
		.v-logo {
			color: #FFF;
		}
		
		&.add-bg {
			.v-logo {
				color: #1d498e;
			}
		}
	}
	
	.page-title {
		color: #FFF;
	}
	
	.voili-feat {
		h2.desc,
		.feat-title {
			color: #FFF;
		}
		
		h2.desc {
			margin-bottom: 2rem;
		}
	}
	
	#main-nav {
		 ul {
			 li {
				 a {
					 color: #FFF;
					 
					 &:after {
						 background-color: rgba(251,251,251,.6);
					 }
				 }
			 }
		 }
	}
	
	
	#boats-feat {
		
		.item {
			background-color: rgba(38,97,179,1);
			
			h4 {
				color: #FFF;
			}
			
			a {
				color: #FFF;
			}
			
			path {
				fill:#FFFFFF;
			}
			
			&:hover {
				background-color: rgba(0,78,159,1);
			}
		}
	}
	
	#destinations-feat {
		 .destination {
			 .item {
				 .wrap {
					 .v-mask {
						 opacity: 1;
						 background-color: #2661b3;
					 }
				 }
				 
				 &:hover,
				 &:focus {
						 .wrap {
						 .v-mask {
							 opacity: 0;
						 }
					 }
				 }
			 }
		 }
	}
	
}


/*  Animation
------------------------------------------------------*/
.visible-animation {
  opacity: 0;
   
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: both;
  
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: both;
}



.css-animation {
  -webkit-animation-name: fadeInThis;
  animation-name: fadeInThis;
}


.bg-white {
	background-color: #FFF;
}

.bg-grey {
	background-color: #ededed;
}

.bg-lgrey {
	background-color: #f5f5f4;
}

.bg-lwhite {
	background-color: #fafaf8;
}

.bg-f8 {
	background-color: #f8f8f8;
}


/*  Mask
------------------------------------------------------*/
.v-mask {
	background-color: rgba(29,73,142,1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-height: 100%;
	height: 100%;
	display: block;
	opacity: 1;
	
	@include transition(1s);
	
	&.op-9 {
		opacity: .9;
	}
	
	&.op-8 {
		opacity: .8;
	}
}


/*  Home
------------------------------------------------------*/
.voili-feat {
	padding: 4rem 0 5rem;
	
	&.remove-padding {
		padding: 0;
	}
	
	&.remove-padding-top {
		padding-top: 0;
	}
	
	&.remove-padding-bottom {
		padding-bottom: 0;
	}
	
	h3.feat-title,
	h2.desc {
		color: #4d4d4d;
		font-size: 2em;
		line-height: 1.3;
		font-family: $century;
		display: block;
		text-align: center;
		letter-spacing: 1px;
		margin-left: auto;
		margin-right: auto;
		max-width: 62%;
		
		&.width-50 {
			max-width: 52%;
		}
		
		&.width-60 {
			max-width: 62%;
		}
		
		&.width-70 {
			max-width: 72%;
		}
		
		&.width-80 {
			max-width: 82%;
		}
	}
	
	h3.feat-title {
		margin-bottom: 4rem;
	}
	
	h2.desc {
		margin-bottom: 4rem;
	}
	
	
	&.remove-title-margin {
		
		h2.desc {
		margin-bottom: 0;
	}

	}
	
	&.bg-white {
		background-color: #FFF;
	}
	
	&.bg-grey {
		background-color: #ededed;
	}
	
	&.bg-lgrey {
		background-color: #f5f5f4;
	}
	
	&.bg-lwhite {
		background-color: #fafaf8;
	}
	
	&.bg-f8 {
		background-color: #f8f8f8;
	}
	
	&.bg-blue {
		background-color: #0057b1;
		
		h3 {
			color: #FFF;
		}
	}

}


/* Home padding
------------------------------------------------------*/
#content {
	
	&.page-home {
		padding-top: 4rem;		
	}
}


/*  Feat Destinations
------------------------------------------------------*/
#destinations-feat {
	
	.destination {
		
		&:nth-child(5n){
			width: 100%;
		}
		
				
		.item {
			overflow: hidden;
			margin-bottom: 2rem;
			
			.wrap {
				text-align: center;
				height: 420px;
				position: relative;	
				overflow: hidden;
				
				@include transition(8s);
				@include scale(1);
					
				.v-mask {
					@include transition(1.2s);
					opacity: 0;
				}
					
				h4 {
					color: #FFF;
					position: relative;
					z-index: 2;
					font-weight: 400;
					font-size: 2.2em;
					letter-spacing: 1px;
					display: inline-block;
					
					@include transition(0.9s);
					@include scale(1);
										
					-webkit-transition-delay: 0.1s;
					transition-delay: 0.1s;
					
					position: relative;
					top: 0;
					bottom: auto;
					left: 0;
					right: auto;
					
					a {
						color: #FFF;
						
						&:hover {
							color: #FFF;
						}
					}
					
				}
			}
			
			&:hover,
			&.hover-tch {
				
				.wrap {
					
					@include scale(1);
					
					&:after {
						top: 0;
					}
					
				}
								
				.v-mask {
					opacity: 1;
				}
				
			}
		}
	}
}


/*  Feat Boats Categories
------------------------------------------------------*/

.page {
	#boats-feat {
		
		.item {
			//background-color: rgba(238,238,238,1);
		}
	}
}

#boats-feat {
	
	.css-animation:nth-child(1n) {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	
	.css-animation:nth-child(2n) {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	
	.css-animation:nth-child(3n) {
		-webkit-animation-delay: 0.9s;
		animation-delay: 0.9s;
	}
	
	.boat-item {
		z-index: 1;
		
		&:hover,
		&:focus {
			z-index: 2;
		}
	}
	
	.item {
		background-color: rgba(247,247,247,1); 
		height: 420px;
		text-align: center;
		position: relative;
		
		@include transition(0.6s);
		@include scale(1);
		
		.wrap {
			padding: 6rem 0 0;
			display: block;
			position: relative;
			overflow: hidden;
		}
		
		.svg {
			margin-bottom: 1rem;
		}
		
		h4 {
			color: #4d4d4d;
			font-size: 1.6em;
			margin: 0 0 1rem;
			font-weight: 400;
			@include transition(0.6s);
		}
		
		.boat-page-link {
			font-size: 18px;
			margin-bottom: 8px;
		}
		
		path {
			@include transition(0.6s);
		}
		
		&:hover {
			background-color: rgba(0,78,159,1);
			
			h4 {
				color: #FFF;
			}
			
			.boat-page-link {
				color: #FFF;
			}
			
			path {
				fill:#FFFFFF;
			}
			
			svg {
				-webkit-animation-delay:0s;
				-webkit-animation-fill-mode:both;
				-webkit-animation-iteration-count: infinite;
				
				animation-delay:0.1s;
				animation-fill-mode:both;
				animation-iteration-count: infinite;
				position: relative;
				
			}
		}
		
		&.item-7:hover {
			
			svg {
				-webkit-animation-name: voilers;
				-webkit-animation-duration:3.6s;
				-webkit-animation-timing-function: ease-in-out;
				
				animation-name: voilers;
				animation-duration:3.6s;
				animation-timing-function: ease-in-out;
				
				
			}
			
		}
		
		&.item-8:hover {
			
			svg {
				-webkit-animation-name: catamarans;
				-webkit-animation-duration:3s;
				-webkit-animation-timing-function: ease-in-out;
				
				animation-name: catamarans;
				animation-duration:3s;
				animation-timing-function: ease-in-out;
			}
			
		}
		
		&.item-1:hover {
			
			svg {
				-webkit-animation-name: motor;
				-webkit-animation-duration: 2s;
				-webkit-animation-timing-function: linear;
				
				animation-name: motor;
				animation-duration: 2s;
				animation-timing-function: linear;
			}
			
		}
		
		
		
	}
}



@-webkit-keyframes voilers {
	0% {
		left: 0px;
		@include scale(1);
	}
	
	50% {
		left: 10px;
		@include scale(1.2);
	}
	
	100% {
		left: 0;
		@include scale(1);
	}
}

@keyframes voilers {
	0% {
		left: 0px;
		@include scale(1);
	}
	
	50% {
		left: 10px;
		@include scale(1.2);
	}
	
	100% {
		left: 0;
		@include scale(1);
	}
}


@-webkit-keyframes catamarans {
	0% {
		top: 0px;
	}
	
	50% {
		top: 15px;
	}
	
	100% {
		top: 0;
	}
}


@keyframes catamarans {
	0% {
		top: 0px;
	}
	
	50% {
		top: 15px;
	}
	
	100% {
		top: 0;
	}
}

@-webkit-keyframes motor {
	0% {
		@include rotate(0deg);
	}
	
	100% {
		@include rotate(-360deg);
	}
}

@keyframes motor {
	0% {
		@include rotate(0deg);
	}
	
	100% {
		@include rotate(-360deg);
	}
}


/*  Skippers
------------------------------------------------------*/

.postid-372 {
	.id-372 {
		display: none !important;
	}
}
.postid-374 {
	.id-374 {
		display: none !important;
	}
}
.postid-363 {
	.id-363 {
		display: none !important;
	}
}
.postid-376 {
	.id-376 {
		display: none !important;
	}
}

.postid-370 {
	.id-370 {
		display: none !important;
	}
}


#skippers-feat {
		
	.row:hover {
		
		.item {
			opacity: 0.5;
		}
		
	}
	
	.item {
		float: left;
		margin: 0 15px 2rem;
		text-align: center;
		
		@include transition(0.2s);
		
		.css-animation:nth-child(1n) {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
		}
		
		&.css-animation:nth-child(2n) {
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s;
		}
		
		&.css-animation:nth-child(3n) {
			-webkit-animation-delay: 0.9s;
			animation-delay: 0.9s;
		}
		
		&.css-animation:nth-child(4n) {
			-webkit-animation-delay: 1.2s;
			animation-delay: 1.2s;
		}
		
		&.css-animation:nth-child(5n) {
			-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
		}
		
		.wrap {
			width: 204px;
			height: 204px;
			display: block;
			margin-bottom: 2rem;
			
			@include br(50%);
			@include transition(0.2s);
			@include scale(1);
			
			&:hover {
				
			}
		}
		
		h4 {
			color: #4d4d4d;
			font-size: 17px;
			margin: 0;
			font-weight: 400;
			@include transition(0.2s);
			@include scale(1);
			position: relative;
			top: 0;
			bottom: auto;
		}
		
		&:hover {
			opacity: 1 !important;

			.wrap {
				@include scale(1.2);
			}
			
			h4 {
				top: 4px;	
				@include scale(1.1);
			}
			
		}
	}
}

.single {
	#skippers-feat {
		
		.row {
			text-align: center;
		}
		
		article.item {
			text-align: center;
			display: inline-block;
			float: none;
		}	
	}
}

.page {
	#skippers-feat {
		.visible-animation {
			opacity: 1 !important;
			animation: none !important;
		}
	}
}

/*  Clients
------------------------------------------------------*/
.map-bg {
	background-image: url('../images/map_bg_blue.svg');
}

#clients-feat {
	
	.slick-arrow {
		top: 25%;
	}
	
	.item {
		text-align: center;
		padding-bottom: 4rem;
		
		.wrap,
		.title,
		p, {
			font-size: 1.1em;
			line-height: inherit;
			color: #4d4d4d;
		}
		
		.wrap {
			width: 60%;
			margin: 0 auto 1rem;
		}
		
		p {
			margin: 0 !important;
		}
		
		.title {
			margin:0 0 2rem;
			font-weight: 500;
		}
		
		.post-excerpt,
		.date {
			font-size: 0.9em;
			line-height: 1.1;
		}
		
	}
}


/*  Testimonials white
------------------------------------------------------*/
#page {
	//Make elements white
	.blue-map-bg {
		
		.feat-title {
			color: #FFF;
		}
		
		#clients-feat {
			.item {
				
				.post-excerpt,
				.date,
				.wrap,
				.title,
				p, {
					color: #FFF;
				}
			}
			
			.slideshow {
				
				.slick-arrow {
					background-image: url("../images/arr-white.png");
				}
				
				ul.slick-dots {
					li {
						.dot,
						button {
							border-color: #FFF;
							
							&:hover,
							&:focus {							
								background-color: #FFF;
							}
						}
						
						&.slick-active {
							button,
							.dot {
								background-color: #FFF;
							}
						}
					}
				}
			}
		}
	}//End blu bg
}

/*  Inquries Button
------------------------------------------------------*/
#inquries {
	text-align: center;
}

#contact-button {
	width: 240px;
	height: 240px;
	display: inline-block;
	color: #004e9f;
	border:3px solid #004e9f;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: inherit;
	position: relative;
	font-family: $gtm;
	
	@include br(50%);
	
	-webkit-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
	
	.arrow {
		position: absolute;
		top: 34%;
		bottom: auto;
		left: 0;
		right: auto;
		font-size: 34px;
		width: 100%;
		text-align: center;
		opacity: 0;
		
		-webkit-transition:  opacity 0.8s, top 1.5s;
		transition: opacity 0.8s, top 1.5s;
	}
	
	&:hover,
	&.active {
		-webkit-animation: shakebtn 0.3s forwards;
		animation: shakebtn 0.3s forwards;
		
		background-color: #004e9f;
		color: #FFF;
		
		.arrow {
			top:74%;
			color: #FFF;
			opacity: 1; 
		}
	}

}

@-webkit-keyframes shakebtn {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes shakebtn {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


/*  Inquries Form
------------------------------------------------------*/
#inquiries-form {
	background-image: url('../images/form_bg_trans.svg');
	overflow: hidden;
	padding: 0;
	height: 0;
	
	h3 {
		margin-top: 4rem;	
	}
	
	.content {
		padding-bottom: 5rem;
	}
	
	.wpcf7 {
		max-width: 80%;
		margin: 0 auto;
	}
}



/* Page
------------------------------------------------------*/
#intro-header {
	background-color: transparent;
	
	&.remove-title {
		padding-top: 4rem;
		
		.page-title {
			display: none;
		}
	}
	
	&.sizeLarge {
		.page-title {
			font-size: 4em;
			font-weight: 300;
		}
	}
}

#hero-banner {
	position: relative;
	height: 440px;
	text-align: center;
	overflow: hidden;
	z-index: 2;
		
	h1 {
		position: relative; 
		z-index: 3;
		font-weight: 300;
		font-size: 4.2em;
		color: #FFF;
		font-family: $gtl;
	}
}

.page-title {
	text-align: center;
	display: block;
	color: #4d4d4d;
	font-size: 2.4em;
	font-weight: 400;
	margin: 8rem 0 0;
}



/*  Generic
------------------------------------------------------*/
.generic-layout {
	.left-title {
		line-height: 1.3;
	}
}


/*  Contact
------------------------------------------------------*/

#page {
	
	&.form-opened {
	
		#inquries {
			display: none;
		}
		
		#inquiries-form {
			height: auto;
			min-height: 1100px;
		}
	}
	
	&.remove-padding {
		.fx-wrapper {
			.four-col-c,
			.six-col-c,
			.two-col-c {
				.container {
					.row {
						.grid-item {
							padding: 0;
						}
					}
				}
			}
		}	
	}
	
	&.form-removed {
		
		#inquries {
			display: none;
		}
	}
	
}



/*  Shortcode entry-content
------------------------------------------------------*/
.entry-content {
	
	.shortcode-voili {
		margin-bottom: 6rem;
	}
}






/*  FX: sub-block
------------------------------------------------------*/

.sub-block {
		
	article.row:last-of-type {
		.item {
			margin-bottom: 0;
		}
	}

	
	.item {
		margin:0 auto 2rem;
		max-width: 76%;
		
		.wrap {
			background-color: #FFF;
			position: relative;
			
			.d-left {
				float: left;
				width: 38%;
				padding: 2rem 2rem;
				
				
				h4 {
					color: #4d4d4d;
					font-size: 1.6em;
					line-height: 1.2;
				}
				
				p {
					font-size: 16px;
					color: #4d4d4d;
				}
				
				.wrap-content {
					position: absolute;
					bottom: 2rem;
					left: 2rem;
					
					p {
						margin: 0 !important;
					}
				}
			}
			
			/*MAPS*/
			.d-right {
				float: right;
				width: 62%;	
				overflow: hidden;
								
				.img {
					@include transition(400ms);
					@include scale(1);
					height: 650px;
					display: block;
				}
				
				&:hover,
				&:focus {
					
					.img {
						@include scale(1.1);
					}
				}
			}
		}
		
	}
	
	/*YACHTS*/
	&.yachts-blocks {
		
		.item {
			
			.d-right {
				height: 380px;
				
				.img {
					height: 380px;
				}
			}	
		}
	}
}


/*  FX: 6 col
------------------------------------------------------*/
.fx-wrapper {
	
	.half-col-fx {
		padding-bottom: 3rem;
	}	
	
	.voili-feat {
		.half-col-fx {
			padding-bottom: 0 !important;
		}
	}
}

.single-yachts {
	
	.three-col-fx {
		padding-bottom: 3rem;
	}	
}


/*  Yachts
------------------------------------------------------*/
.yacht-details {
	
	&:nth-child(1n){
		background-color: #f7f7f6;	
	}
	
	&:nth-child(2n){
		background-color: #f0f0ef;
	}
	
	
	.entry-content {
		ul,
		ol {
			margin-bottom: 0 !important;
		}
	}	
}


.single-yachts {
	background-color: #FFF;
	#intro-header {
		background-color: #FFF;
		
		.page-title {
			font-size: 4em;
			font-weight: 300;
			margin-bottom: 2rem;
		}
	}	
}
 

/*  Skipper
------------------------------------------------------*/
.skipper-header {
	padding: 8rem 0 6rem;
	background-color: #FFF;
	
	h1 {
		color: #4d4d4d;
		font-size: 2.1em;
		line-height: 1.3em;
		margin-bottom: 0;
	}
	
	.desc {
		font-size: 1.5em;
		margin-bottom: 2rem;
		color: #4d4d4d;
	}
	
	
}


.page-template-page-about  {
	#intro-header {
		background-color: #FFF;
	}
}



/*  Skipper
------------------------------------------------------*/
#blog-posts {
	background-color: #fefefe;
	padding-top: 100px;
	
	.post {
		padding: 4rem 0;
		
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
		
		&:nth-child(1n){
			background-color: #fefefe;
		}
		
		&:nth-child(2n){
			background-color: #f9f9f8;
		}
		
		.post-title {
			line-height: 1.1em;
			color: #4d4d4d;
			margin:0 0 4rem;
			display: block;
		}
		
		.date {
			color: #a9a9a9;
			font-weight: 400;
			font-size: 1.1em;
			line-height: inherit;
			display: block;
			margin:0.1rem 0 5rem;
		}
		
		.share {
			position: relative;
			overflow: hidden;
			padding: 2px 0;
			display: block;
			
			.hover {
				color: #a9a9a9;
				font-size: 1.1em;
				cursor: pointer;
				@include transition(600ms);
				
				.fa-share-alt {
					padding: 0 0 0 5px;
					color: #a9a9a9;
					opacity: 1;
						
					@include transition(600ms);
				}
				
				&:hover {
					
					.fa-share-alt {
						opacity: 0;
					}
				}
			}
			
			.share-buttons {
				position: absolute;
				left: -150px;
				right: auto;
				top:7px;
				bottom: auto;
				opacity: 0;
				
				@include transition(600ms);
				
				li {
					a {
						padding: 1px 6px;
						@include transition(600ms);
						color: #a9a9a9;
						
						&:hover,
						&:focus {
							color: #4d4d4d;
						}
					}
				}
			}
			
			&:hover,
			&:focus {
				
				.share-buttons {
					left: 85px; 
					opacity: 1;
				}
			}
		}
	}
	
	
	
	.slideshow {
		margin-bottom: 3rem;
		padding-bottom: 2rem;
	}
}


/*  Global styles
------------------------------------------------------*/
.single-post {
	#inquries {
		display: none;
	}
}

.screen-reader-text {
	display: none;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}



/*  Pagination
------------------------------------------------------*/
#blog-pagination {
	padding: 2rem 0;
	background-color: #f9f9f8;
	
	.nav-links {
		text-align: center;
	}
	
	a,
	span {
		background-color: rgba(0, 0, 0, 0);
	    border: 1px solid #000;
	    color: #000;
	    display: inline;
	    font-family: $gtl;
	    margin: 0 2px;
	    padding: 6px;
	    text-align: center;
	    text-transform: uppercase;
	    
	    @include transition(400ms);
	    
	    &:hover {
		    background-color: rgba(0, 0, 0, 1);
		    color: #FFF;
	    }
	    
	    &.current {
		    background-color: rgba(0, 0, 0, 1);
		    color: #FFF;
	    }
	}
	
	&.active {
		.loader {
			opacity: 1;
		}
	}
}


.loader {
  margin: 10px auto;
  opacity: 0;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.6em solid rgba(29, 73, 142, 0.3);
  border-right: 0.6em solid rgba(29, 73, 142, 0.3);
  border-bottom: 0.6em solid rgba(29, 73, 142, 0.3);
  border-left: 0.6em solid #1d498e;
  
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  @include br(50%);
  width: 5em;
  height: 5em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
