// Variables
// --------------------------

$fa-font-path:        "fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.5.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;

$fa-var-twitter: "\f099";
$fa-var-linkedin: "\f0e1";
$fa-var-github: "\f09b";
$fa-var-skype: "\f17e";
$fa-var-download: "\f019";
$fa-var-user: "\f007";
$fa-var-comments: "\f086";
$fa-var-external-link: "\f08e";
$fa-var-share-alt: "\f1e0";
$fa-var-code: "\f121";
$fa-var-hand-paper-o: "\f256";
$fa-var-th-large: "\f009";
$fa-var-calendar-o: "\f133";
$fa-var-search: "\f002";
$fa-var-tag: "\f02b";
$fa-var-facebook: "\f09a";
$fa-var-envelope: "\f0e0";
$fa-var-internet-explorer: "\f26b";
$fa-var-firefox: "\f269";
$fa-var-opera: "\f26a";
$fa-var-chrome: "\f268";
$fa-var-safari: "\f267";
$fa-var-instagram: "\f16d";
$fa-var-facebook-square: "\f082";
$fa-var-angle-down: "\f107";
$fa-var-linkedin-square: "\f08c";
$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";