@import url('//hello.myfonts.net/count/3172a7');@font-face{font-family:'Century751BT-RomanB';src:url("fonts/3172A7_0_0.eot");src:url("fonts/3172A7_0_0.eot?#iefix") format('embedded-opentype'), url("fonts/3172A7_0_0.woff2") format('woff2'), url("fonts/3172A7_0_0.woff") format('woff'), url("fonts/3172A7_0_0.ttf") format('truetype');font-weight:normal;}
@font-face{font-family:'GT-Walsheim-Pro-Light';src:url("fonts/GT-Walsheim-Pro-Light.eot");src:url("fonts/GT-Walsheim-Pro-Light.eot?#iefix") format('embedded-opentype'), url("fonts/GT-Walsheim-Pro-Light.woff") format('woff'), url("fonts/GT-Walsheim-Pro-Light.ttf") format('truetype');font-weight:normal;}
@font-face{font-family:'GT-Walsheim-Pro-Medium';src:url("fonts/GT-Walsheim-Pro-Medium.eot");src:url("fonts/GT-Walsheim-Pro-Medium.eot?#iefix") format('embedded-opentype'), url("fonts/GT-Walsheim-Pro-Medium.woff") format('woff'), url("fonts/GT-Walsheim-Pro-Medium.ttf") format('truetype');font-weight:normal;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
audio, canvas, progress, video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden], template{display:none;}
a{background-color:transparent;}
a:active, a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b, strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code, kbd, pre, samp{font-family:monospace, monospace;font-size:1em;}
button, input, optgroup, select, textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button, select{text-transform:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled], html input[disabled]{cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"], input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td, th{padding:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input, button, select, textarea{font-family:inherit;font-size:inherit;line-height:inherit;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
figure{margin:0;}
img{vertical-align:middle;}
[role="button"]{cursor:pointer;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1170px;}
}
.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
.row{margin-left:-15px;margin-right:-15px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left;}
.col-xs-12{width:100%;}
.col-xs-11{width:91.66667%;}
.col-xs-10{width:83.33333%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.66667%;}
.col-xs-7{width:58.33333%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.66667%;}
.col-xs-4{width:33.33333%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.66667%;}
.col-xs-1{width:8.33333%;}
.col-xs-pull-12{right:100%;}
.col-xs-pull-11{right:91.66667%;}
.col-xs-pull-10{right:83.33333%;}
.col-xs-pull-9{right:75%;}
.col-xs-pull-8{right:66.66667%;}
.col-xs-pull-7{right:58.33333%;}
.col-xs-pull-6{right:50%;}
.col-xs-pull-5{right:41.66667%;}
.col-xs-pull-4{right:33.33333%;}
.col-xs-pull-3{right:25%;}
.col-xs-pull-2{right:16.66667%;}
.col-xs-pull-1{right:8.33333%;}
.col-xs-pull-0{right:auto;}
.col-xs-push-12{left:100%;}
.col-xs-push-11{left:91.66667%;}
.col-xs-push-10{left:83.33333%;}
.col-xs-push-9{left:75%;}
.col-xs-push-8{left:66.66667%;}
.col-xs-push-7{left:58.33333%;}
.col-xs-push-6{left:50%;}
.col-xs-push-5{left:41.66667%;}
.col-xs-push-4{left:33.33333%;}
.col-xs-push-3{left:25%;}
.col-xs-push-2{left:16.66667%;}
.col-xs-push-1{left:8.33333%;}
.col-xs-push-0{left:auto;}
.col-xs-offset-12{margin-left:100%;}
.col-xs-offset-11{margin-left:91.66667%;}
.col-xs-offset-10{margin-left:83.33333%;}
.col-xs-offset-9{margin-left:75%;}
.col-xs-offset-8{margin-left:66.66667%;}
.col-xs-offset-7{margin-left:58.33333%;}
.col-xs-offset-6{margin-left:50%;}
.col-xs-offset-5{margin-left:41.66667%;}
.col-xs-offset-4{margin-left:33.33333%;}
.col-xs-offset-3{margin-left:25%;}
.col-xs-offset-2{margin-left:16.66667%;}
.col-xs-offset-1{margin-left:8.33333%;}
.col-xs-offset-0{margin-left:0%;}
@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-11{width:91.66667%;}
.col-sm-10{width:83.33333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66667%;}
.col-sm-7{width:58.33333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66667%;}
.col-sm-4{width:33.33333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66667%;}
.col-sm-1{width:8.33333%;}
.col-sm-pull-12{right:100%;}
.col-sm-pull-11{right:91.66667%;}
.col-sm-pull-10{right:83.33333%;}
.col-sm-pull-9{right:75%;}
.col-sm-pull-8{right:66.66667%;}
.col-sm-pull-7{right:58.33333%;}
.col-sm-pull-6{right:50%;}
.col-sm-pull-5{right:41.66667%;}
.col-sm-pull-4{right:33.33333%;}
.col-sm-pull-3{right:25%;}
.col-sm-pull-2{right:16.66667%;}
.col-sm-pull-1{right:8.33333%;}
.col-sm-pull-0{right:auto;}
.col-sm-push-12{left:100%;}
.col-sm-push-11{left:91.66667%;}
.col-sm-push-10{left:83.33333%;}
.col-sm-push-9{left:75%;}
.col-sm-push-8{left:66.66667%;}
.col-sm-push-7{left:58.33333%;}
.col-sm-push-6{left:50%;}
.col-sm-push-5{left:41.66667%;}
.col-sm-push-4{left:33.33333%;}
.col-sm-push-3{left:25%;}
.col-sm-push-2{left:16.66667%;}
.col-sm-push-1{left:8.33333%;}
.col-sm-push-0{left:auto;}
.col-sm-offset-12{margin-left:100%;}
.col-sm-offset-11{margin-left:91.66667%;}
.col-sm-offset-10{margin-left:83.33333%;}
.col-sm-offset-9{margin-left:75%;}
.col-sm-offset-8{margin-left:66.66667%;}
.col-sm-offset-7{margin-left:58.33333%;}
.col-sm-offset-6{margin-left:50%;}
.col-sm-offset-5{margin-left:41.66667%;}
.col-sm-offset-4{margin-left:33.33333%;}
.col-sm-offset-3{margin-left:25%;}
.col-sm-offset-2{margin-left:16.66667%;}
.col-sm-offset-1{margin-left:8.33333%;}
.col-sm-offset-0{margin-left:0%;}
}
@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left;}
.col-md-12{width:100%;}
.col-md-11{width:91.66667%;}
.col-md-10{width:83.33333%;}
.col-md-9{width:75%;}
.col-md-8{width:66.66667%;}
.col-md-7{width:58.33333%;}
.col-md-6{width:50%;}
.col-md-5{width:41.66667%;}
.col-md-4{width:33.33333%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66667%;}
.col-md-1{width:8.33333%;}
.col-md-pull-12{right:100%;}
.col-md-pull-11{right:91.66667%;}
.col-md-pull-10{right:83.33333%;}
.col-md-pull-9{right:75%;}
.col-md-pull-8{right:66.66667%;}
.col-md-pull-7{right:58.33333%;}
.col-md-pull-6{right:50%;}
.col-md-pull-5{right:41.66667%;}
.col-md-pull-4{right:33.33333%;}
.col-md-pull-3{right:25%;}
.col-md-pull-2{right:16.66667%;}
.col-md-pull-1{right:8.33333%;}
.col-md-pull-0{right:auto;}
.col-md-push-12{left:100%;}
.col-md-push-11{left:91.66667%;}
.col-md-push-10{left:83.33333%;}
.col-md-push-9{left:75%;}
.col-md-push-8{left:66.66667%;}
.col-md-push-7{left:58.33333%;}
.col-md-push-6{left:50%;}
.col-md-push-5{left:41.66667%;}
.col-md-push-4{left:33.33333%;}
.col-md-push-3{left:25%;}
.col-md-push-2{left:16.66667%;}
.col-md-push-1{left:8.33333%;}
.col-md-push-0{left:auto;}
.col-md-offset-12{margin-left:100%;}
.col-md-offset-11{margin-left:91.66667%;}
.col-md-offset-10{margin-left:83.33333%;}
.col-md-offset-9{margin-left:75%;}
.col-md-offset-8{margin-left:66.66667%;}
.col-md-offset-7{margin-left:58.33333%;}
.col-md-offset-6{margin-left:50%;}
.col-md-offset-5{margin-left:41.66667%;}
.col-md-offset-4{margin-left:33.33333%;}
.col-md-offset-3{margin-left:25%;}
.col-md-offset-2{margin-left:16.66667%;}
.col-md-offset-1{margin-left:8.33333%;}
.col-md-offset-0{margin-left:0%;}
}
@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left;}
.col-lg-12{width:100%;}
.col-lg-11{width:91.66667%;}
.col-lg-10{width:83.33333%;}
.col-lg-9{width:75%;}
.col-lg-8{width:66.66667%;}
.col-lg-7{width:58.33333%;}
.col-lg-6{width:50%;}
.col-lg-5{width:41.66667%;}
.col-lg-4{width:33.33333%;}
.col-lg-3{width:25%;}
.col-lg-2{width:16.66667%;}
.col-lg-1{width:8.33333%;}
.col-lg-pull-12{right:100%;}
.col-lg-pull-11{right:91.66667%;}
.col-lg-pull-10{right:83.33333%;}
.col-lg-pull-9{right:75%;}
.col-lg-pull-8{right:66.66667%;}
.col-lg-pull-7{right:58.33333%;}
.col-lg-pull-6{right:50%;}
.col-lg-pull-5{right:41.66667%;}
.col-lg-pull-4{right:33.33333%;}
.col-lg-pull-3{right:25%;}
.col-lg-pull-2{right:16.66667%;}
.col-lg-pull-1{right:8.33333%;}
.col-lg-pull-0{right:auto;}
.col-lg-push-12{left:100%;}
.col-lg-push-11{left:91.66667%;}
.col-lg-push-10{left:83.33333%;}
.col-lg-push-9{left:75%;}
.col-lg-push-8{left:66.66667%;}
.col-lg-push-7{left:58.33333%;}
.col-lg-push-6{left:50%;}
.col-lg-push-5{left:41.66667%;}
.col-lg-push-4{left:33.33333%;}
.col-lg-push-3{left:25%;}
.col-lg-push-2{left:16.66667%;}
.col-lg-push-1{left:8.33333%;}
.col-lg-push-0{left:auto;}
.col-lg-offset-12{margin-left:100%;}
.col-lg-offset-11{margin-left:91.66667%;}
.col-lg-offset-10{margin-left:83.33333%;}
.col-lg-offset-9{margin-left:75%;}
.col-lg-offset-8{margin-left:66.66667%;}
.col-lg-offset-7{margin-left:58.33333%;}
.col-lg-offset-6{margin-left:50%;}
.col-lg-offset-5{margin-left:41.66667%;}
.col-lg-offset-4{margin-left:33.33333%;}
.col-lg-offset-3{margin-left:25%;}
.col-lg-offset-2{margin-left:16.66667%;}
.col-lg-offset-1{margin-left:8.33333%;}
.col-lg-offset-0{margin-left:0%;}
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after{content:" ";display:table;}
.clearfix:after, .container:after, .container-fluid:after, .row:after{clear:both;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.pull-right{float:right !important;}
.pull-left{float:left !important;}
.hide{display:none !important;}
.show{display:block !important;}
.invisible{visibility:hidden;}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.hidden{display:none !important;}
.affix{position:fixed;}
@font-face{font-family:'FontAwesome';src:url("fonts/fontawesome-webfont.eot?v=4.5.0");src:url("fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format('embedded-opentype'), url("fonts/fontawesome-webfont.woff2?v=4.5.0") format('woff2'), url("fonts/fontawesome-webfont.woff?v=4.5.0") format('woff'), url("fonts/fontawesome-webfont.ttf?v=4.5.0") format('truetype'), url("fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format('svg');font-weight:normal;font-style:normal;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-lg{font-size:1.33333em;line-height:0.75em;vertical-align:-15%;}
.fa-2x{font-size:2em;}
.fa-3x{font-size:3em;}
.fa-4x{font-size:4em;}
.fa-5x{font-size:5em;}
.fa-fw{width:1.28571em;text-align:center;}
.fa-ul{padding-left:0;margin-left:2.14286em;list-style-type:none;}
.fa-ul > li{position:relative;}
.fa-li{position:absolute;left:-2.14286em;width:2.14286em;top:0.14286em;text-align:center;}
.fa-li.fa-lg{left:-1.85714em;}
.fa-border{padding:0.2em 0.25em 0.15em;border:solid 0.08em #eee;border-radius:0.1em;}
.fa-pull-left{float:left;}
.fa-pull-right{float:right;}
.fa.fa-pull-left{margin-right:0.3em;}
.fa.fa-pull-right{margin-left:0.3em;}
.pull-right{float:right;}
.pull-left{float:left;}
.fa.pull-left{margin-right:0.3em;}
.fa.pull-right{margin-left:0.3em;}
.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;}
.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8);}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);}
.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1);}
.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1);}
:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none;}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle;}
.fa-stack-1x, .fa-stack-2x{position:absolute;left:0;width:100%;text-align:center;}
.fa-stack-1x{line-height:inherit;}
.fa-stack-2x{font-size:2em;}
.fa-inverse{color:#fff;}
.fa-twitter:before{content:"\f099";}
.fa-linkedin:before{content:"\f0e1";}
.fa-github:before{content:"\f09b";}
.fa-skype:before{content:"\f17e";}
.fa-download:before{content:"\f019";}
.fa-user:before{content:"\f007";}
.fa-comments:before{content:"\f086";}
.fa-external-link:before{content:"\f08e";}
.fa-share-alt:before{content:"\f1e0";}
.fa-code:before{content:"\f121";}
.fa-hand-paper-o:before{content:"\f256";}
.fa-th-large:before{content:"\f009";}
.fa-calendar-o:before{content:"\f133";}
.fa-search:before{content:"\f002";}
.fa-tag:before{content:"\f02b";}
.fa-facebook:before{content:"\f09a";}
.fa-envelope:before{content:"\f0e0";}
.fa-safari:before{content:"\f267";}
.fa-chrome:before{content:"\f268";}
.fa-firefox:before{content:"\f269";}
.fa-opera:before{content:"\f26a";}
.fa-internet-explorer:before{content:"\f26b";}
.fa-instagram:before{content:"\f16d";}
.fa-facebook-square:before{content:"\f082";}
.fa-angle-down:before{content:"\f107";}
.fa-linkedin-square:before{content:"\f08c";}
.fa-angle-left:before{content:"\f104";}
.fa-angle-right:before{content:"\f105";}
body{color:#333;position:relative;font:90.90909% 'GT-Walsheim-Pro-Light', Helvetica, sans-serif;background-color:#f5f5f4;text-rendering:optimizeLegibility;}
#page{min-height:100%;height:auto !important;height:100%;width:100%;position:relative;}
#page img{max-width:100%;height:auto;}
::-moz-selection{background-color:#000;color:#fff;text-shadow:none;}
::selection{background-color:#000;color:#fff;text-shadow:none;}
ins{background-color:#000;color:#fff;text-decoration:none;}
mark{background-color:#000;color:#fff;font-style:normal;font-weight:normal;}
a:link{-webkit-tap-highlight-color:#000;}
a{color:#000;text-decoration:none;cursor:pointer;}
a:hover, a:focus, a:active{-webkit-backface-visibility:hidden;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;outline:none;}
input, textarea, select, button{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;}
fieldset{border:none;padding:0;margin-bottom:2rem;}
form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="password"], form input[type="url"], form textarea, form span.customSelect{background-color:rgba(251, 251, 251, 1);border:none;font-family:'GT-Walsheim-Pro-Light';color:#333;display:block;width:100%;padding:6px 12px;height:46px;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
form input[type="text"]:focus, form input[type="email"]:focus, form input[type="tel"]:focus, form input[type="password"]:focus, form input[type="url"]:focus, form textarea:focus{background-color:rgba(251, 251, 251, .5);color:#fff;}
form .wpcf7-form-control-wrap:hover span.customSelect, form .wpcf7-form-control-wrap:focus span.customSelect{background-color:rgba(251, 251, 251, .5);color:#fff;}
form textarea{min-height:190px;}
form label{display:block;font-family:'GT-Walsheim-Pro-Light';color:#fff;margin-bottom:0.8rem;font-size:1.3em;}
form label i{color:#f00;}
form input[type="submit"]{font-family:'GT-Walsheim-Pro-Light';letter-spacing:1px;text-transform:uppercase;background-color:rgba(251, 251, 251, 0);border:1px solid #fff;padding:12px 20px;color:#fff;min-width:400px;text-align:center;margin:4rem auto 1rem;display:block;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
form input[type="submit"]:hover, form input[type="submit"]:focus, form input[type="submit"]:active{background-color:rgba(251, 251, 251, 1);color:#333;}
form input::placeholder{color:#333;}
form input[type="checkbox"]{height:1em;width:1em;cursor:pointer;background-color:#fff;position:relative;color:#706e73;top:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
form input[type="checkbox"]:checked{background-color:#f1f1f1;}
form input[type="checkbox"]:before, form input[type="checkbox"]:checked:before{position:absolute;top:0;left:-3px;width:100%;height:100%;line-height:1em;text-align:center;color:#706e73;}
form input[type="checkbox"]:checked:before{content:'✔';color:#706e73;}
form input[type="checkbox"]:hover:before{background:rgba(255, 255, 255, 0.3);}
.wpcf7-not-valid-tip{display:none !important;}
.wpcf7-not-valid{background-color:rgba(255, 0, 0, .7) !important;color:#f00;}
div.wpcf7-response-output{border:none !important;background-color:transparent !important;text-align:center;text-transform:uppercase;margin-top:0 !important;font-weight:400;font-size:1em;}
div.wpcf7-response-output.wpcf7-validation-errors{color:#f00;}
div.wpcf7-response-output.wpcf7-mail-sent-ok{color:#fff;}
.ajax-loader{width:16px;height:16px;margin:0 auto !important;display:block;position:relative;}
.custom-select{position:relative;cursor:pointer;width:100%;}
.custom-select.hasCustomSelect{z-index:3;}
.custom-select option{font-style:normal;padding:6px 8px;}
.customSelect{z-index:1;padding-top:9px !important;}
.customSelect .customSelectInner{cursor:pointer;display:block !important;overflow:hidden;top:2px;}
.customSelect .customSelectInner:after{width:0;height:0;border-left:16px solid transparent;border-right:16px solid transparent;border-top:15px solid #706e73;display:block;content:" ";position:absolute;right:15px;top:15px;left:auto;bottom:auto;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
.customSelect.customSelectHover .customSelectInner:after, .customSelect.customSelectOpen .customSelectInner:after{top:17px;}
.no-js-msg{position:fixed;left:0;top:45%;width:100%;display:block;font-size:4em;text-transform:uppercase;color:#000;text-align:center;font-weight:bold;z-index:999;}
#preloader{position:fixed;width:100%;height:100%;min-height:100%;background-color:#fff;z-index:999;left:0;top:0;display:block;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;-webkit-transition-delay:0.5s;transition-delay:0.5s;}
#preloader .wrapper{width:166px;height:166px;position:absolute;left:50%;right:auto;margin:-83px 0 0 -83px;top:50%;-webkit-animation-name:preloader-2;-webkit-animation-duration:1.2s;-webkit-animation-timing-function:ease-in-out;-webkit-animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-name:preloader-2;animation-duration:1.2s;animation-timing-function:ease-in-out;animation-fill-mode:both;animation-iteration-count:infinite;}
#preloader .wrapper .circle{display:block;position:relative;-webkit-animation-name:preloader-1;-webkit-animation-duration:1.2s;-webkit-animation-timing-function:ease-in-out;-webkit-animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-name:preloader-1;animation-duration:1.2s;animation-timing-function:ease-in-out;animation-fill-mode:both;animation-iteration-count:infinite;}
#preloader .wrapper .circle span{position:absolute;top:42%;width:100%;left:0;text-align:center;}
#page{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;-webkit-transition-delay:0.9s;transition-delay:0.9s;}
.body-loaded #preloader{opacity:0;z-index:-1;}
.body-loaded #page{opacity:1;}
@-webkit-keyframes preloader-1{0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}
@keyframes preloader-1{0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}
@-webkit-keyframes preloader-2{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
}
@keyframes preloader-2{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
50%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-family:'GT-Walsheim-Pro-Light';margin:0 0 5px 0;color:#4d4d4d;}
h1{font-size:3.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.4em;}
h5{font-size:1.2em;}
h6{font-size:1em;}
p{font-size:17px;line-height:1.6em;font-family:'GT-Walsheim-Pro-Light';margin:0 0 1.8em;color:#5d5d5d;}
strong{font-family:'GT-Walsheim-Pro-Medium';font-weight:normal;}
em{font-style:italic;}
small{font-size:85%;}
.aligncenter{margin-left:auto;margin-right:auto;}
.alignleft{float:left;margin-right:15px;margin-bottom:15px;margin-top:6px;}
.alignright{float:right;margin-left:15px;margin-bottom:15px;margin-top:6px;}
.entry-content img{max-width:100%;height:auto;display:block;}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6{margin:0 0 8px;padding:0;color:#4d4d4d;line-height:1.4em;}
.entry-content h1{font-size:3.2em;}
.entry-content h2{font-size:2em;}
.entry-content h3{font-size:1.8em;}
.entry-content h4{font-size:1.4em;}
.entry-content h5{font-size:1.2em;}
.entry-content h6{font-size:1em;}
.entry-content ul{margin-left:10px;margin-bottom:30px;}
.entry-content ul li{list-style:none;margin-bottom:4px;}
.entry-content ul li::before{content:"•";position:relative;left:-5px;font-family:'GT-Walsheim-Pro-Light';font-size:1.1em;}
.entry-content ol{margin-left:30px;margin-bottom:30px;}
.entry-content ol li{list-style:decimal;margin-bottom:4px;}
.entry-content ol li, .entry-content ul li{color:#5d5d5d;font-weight:400;font-size:17px;line-height:1.4em;font-family:'GT-Walsheim-Pro-Light';}
.entry-content p{margin:0 0 1.8em;color:#5d5d5d;}
.entry-content p a{color:#004790;text-decoration:underline;}
.entry-content p a:hover, .entry-content p a:active{text-decoration:underline;}
.entry-content strong{font-weight:normal;}
blockquote{display:block;margin-bottom:15px;font-style:italic;font-family:Georgia !important;font-style:italic !important;padding:20px;text-align:center;}
blockquote p{display:inline;font-family:Georgia !important;font-style:italic !important;position:relative;padding:1rem 2rem 0;background-color:transparent;}
blockquote p:before, blockquote p:after{color:#ccc;position:absolute;height:0.5rem;font-size:10em;line-height:0.75em;top:-10px;}
blockquote p:before{content:'“';left:-0.3em;}
blockquote p:after{content:'”';}
.btn{min-width:150px;max-width:380px;display:block;padding:1em 2em;border:none;background:none;color:inherit;vertical-align:middle;position:relative;z-index:1;-webkit-backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;-webkit-transition:border-color 0.4s, color 0.4s;transition:border-color 0.4s, color 0.4s;-webkit-transition-timing-function:cubic-bezier(0.2, 1, 0.3, 1);transition-timing-function:cubic-bezier(0.2, 1, 0.3, 1);}
.btn::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;z-index:-1;opacity:0;-webkit-transform:scale3d(0.7, 1, 1);transform:scale3d(0.7, 1, 1);-webkit-transition:-webkit-transform 0.4s, opacity 0.4s;transition:transform 0.4s, opacity 0.4s;-webkit-transition-timing-function:cubic-bezier(0.2, 1, 0.3, 1);transition-timing-function:cubic-bezier(0.2, 1, 0.3, 1);}
.btn:hover{color:#000;border-color:#fff;}
.btn:hover::before{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
#ie-message{position:fixed;width:100%;height:100%;z-index:99999;left:0;top:0;background-color:rgba(251, 251, 251, .9);}
#ie-message .wrap{width:270px;margin:0 auto;border:4px solid #ccc;position:relative;border:4px solid #ccc;background-color:#f1f1f1;padding:20px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}
#ie-message .wrap .fa{position:absolute;right:7px;top:4px;color:#000;width:17px;height:15px;padding-top:2px;z-index:99999;font-size:20px;cursor:pointer;}
#ie-message .wrap h5{line-height:1.2em;font-size:1em;}
#ie-message .wrap .desc{font-size:0.9em;font-family:'GT-Walsheim-Pro-Medium';margin-bottom:20px;}
@-webkit-keyframes fadeInThis{from{opacity:0;}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInThis{from{opacity:0;}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
@-webkit-keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}
@-webkit-keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
.hide{display:none;}
.ovf-h{overflow:hidden;}
.cf{zoom:1;}
.cf:before, .cf:after{content:"";display:table;}
.cf:after{clear:both;}
.clear{clear:both;overflow:hidden;height:0;zoom:1;}
.right{float:right;display:block;}
.left{float:left;display:block;}
ul, ul li, ol, ol li{margin:0;padding:0;list-style-type:none;}
.cul{width:100%;overflow:hidden;position:relative;}
.cul ul{clear:left;float:left;position:relative;left:50%;text-align:center;list-style:none;margin:0;padding:0;}
.cul ul li{display:block;float:left;position:relative;right:50%;}
.cul ul li a{display:block;margin:0 5px;}
.hul ul{display:block;float:left;width:auto;}
.hul ul li{display:block;float:left;}
.hul ul li a{display:block;float:left;}
.mauto{margin-left:auto;margin-right:auto;}
.unselectable{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
.bg-cover{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-position:center center;background-repeat:no-repeat;}
.bg-fixed{background-attachment:fixed;}
.vcenter-outer{display:table;height:100%;width:100%;}
.vcenter-outer .vcenter-inner{display:table-cell;vertical-align:middle;}
.tooltip:hover:after{background:#333;background:rgba(0, 0, 0, .8);border-radius:5px;bottom:26px;color:#fff;content:attr(title);left:20%;padding:5px 15px;position:absolute;z-index:98;width:120px;}
.tooltip:hover:before{border:solid;border-color:#333 transparent;border-width:6px 6px 0 6px;bottom:20px;content:"";left:50%;position:absolute;z-index:99;}
.mobile-menu-open #mobile-fixed-nav{right:0;}
#mobile-fixed-nav{position:fixed;right:-241px;left:auto;bottom:auto;top:0;width:220px;padding:0;height:100%;min-height:100%;background-color:rgba(29, 73, 142, 1);z-index:9999;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
#mobile-fixed-nav #close-mobile-menu{text-align:right;position:absolute;right:10px;top:8px;width:30px;height:30px;background:transparent url('../images/close-icon.png');background-size:30px 30px;border:none;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
#mobile-fixed-nav #close-mobile-menu:hover{opacity:0.8;top:0.7em;}
#mobile-fixed-nav .nav-wrap{padding:35px 0 0 26px;}
#mobile-fixed-nav .social-media-links{margin:7px 0 5px 26px;}
#mobile-fixed-nav .social-media-links ul li{margin-right:9px;}
#mobile-fixed-nav .social-media-links ul li a{font-size:1.6em;}
#mobile-fixed-nav ul li{list-style:none;text-align:left;line-height:1.3;}
#mobile-fixed-nav ul li a{color:#fff;left:0;position:relative;right:auto;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 350ms ease;-moz-transition:all 350ms ease;-o-transition:all 350ms ease;transition:all 350ms ease;}
#mobile-fixed-nav ul li a:hover{opacity:0.8;}
#mobile-fixed-nav ul li.current-menu-item > a{opacity:0.8;}
#mobile-fixed-nav ul > li > a{font-size:1em;font-weight:500;position:relative;}
#mobile-fixed-nav ul > li ul.sub-menu{margin:0.2rem 0 0.7rem 0;}
#mobile-fixed-nav ul > li ul.sub-menu li.current-menu-item{text-decoration:underline;opacity:0.8;}
#mobile-fixed-nav ul > li ul.sub-menu li a{font-size:0.9em;font-weight:400;}
#mobile-fixed-nav ul > li ul.sub-menu li a:hover{left:2px;}
#mobile-nav{float:right;margin:15px 20px 0 0;display:none;}
#mobile-nav .hamburger{height:auto;display:block;color:#000;width:34px;}
#mobile-nav .hamburger .line{background-color:#1d498e;display:block;height:2px;margin-bottom:4px;width:100%;position:relative;top:0;left:0;bottom:auto;right:auto;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px;}
#header{top:0;left:0;right:auto;bottom:auto;z-index:999;width:100%;height:70px;background-color:rgba(255, 255, 255, 0);}
#header.home-nav{background-color:rgba(255, 255, 255, 1);position:absolute;}
#header.home-nav.fixed-header{position:fixed !important;bottom:auto;top:0 !important;}
#header.sub-nav{position:fixed;-webkit-transition:background-color 300ms;transition:background-color 300ms;}
#header.template-banner .v-logo{color:#fff;}
#header.template-banner #main-nav ul li a{color:#fff;}
#header.template-banner #main-nav ul li a:after{background-color:rgba(255, 255, 255, 0.6);}
#header.add-bg{background-color:rgba(255, 255, 255, 1);}
#header.add-bg .v-logo{color:#1d498e;}
#header.add-bg #main-nav ul li a{color:#1d498e;}
#header.add-bg #main-nav ul li a:after{background-color:rgba(29, 73, 142, .6);}
#header .v-logo{left:50%;margin-left:-60px;position:absolute;z-index:2;top:21px;bottom:auto;right:auto;-webkit-backface-visibility:hidden;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;}
#header .v-logo:hover{top:24px;}
.v-logo{color:#1d498e;font-family:'GT-Walsheim-Pro-Medium';text-align:center;text-transform:inherit;font-size:22px;width:120px;display:block;letter-spacing:1px;}
#mobile-header{display:none;}
.page-template-page-blue-bg #main-nav .sub-menu li a{color:#fff;}
#main-nav{position:relative;z-index:1;top:21px;}
#main-nav > ul > li:first-child .sub-menu{margin-left:0;left:-20px;}
#main-nav > ul > li:first-child .sub-menu:after{left:80px;}
#main-nav .sub-menu{display:none;position:absolute;top:60px;left:-50%;margin-left:-55px;width:280px;padding:15px;-webkit-border-radius:4px;border-radius:4px;background-color:#1d498e;}
#main-nav .sub-menu:after{position:absolute;left:130px;top:-10px;content:"";width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #1d498e;}
#main-nav .sub-menu li{float:none !important;display:block;width:100%;margin:0 !important;}
#main-nav .sub-menu li a{display:block;background-color:rgba(29, 73, 142, 1);color:#fff !important;padding:1rem 2rem 0.6rem 0.5rem;font-size:18px;border-bottom:1px solid #6382b1;top:0;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
#main-nav .sub-menu li a:hover{background-color:rgba(29, 73, 142, 0.8);}
#main-nav .sub-menu li:last-child a{border-bottom:none;padding-bottom:0.5rem;}
#main-nav .sub-menu li:first-child a{padding-top:0.5rem;}
#main-nav ul{padding:0;margin:0;}
#main-nav ul > li{list-style:none;margin:0 2rem;}
#main-nav ul > li.menu-item-has-children{position:relative;}
#main-nav ul > li.menu-item-has-children > a{padding-bottom:22px;}
#main-nav ul > li.menu-item-has-children a:hover{top:0 !important;}
#main-nav ul > li.menu-item-has-children a:after{display:none !important;opacity:0 !important;}
#main-nav ul > li.menu-item-has-children a:hover::after, #main-nav ul > li.menu-item-has-children a:focus::after{display:none !important;opacity:0 !important;}
#main-nav ul > li a{color:#1d498e;font-weight:400;font-size:22px;font-family:'GT-Walsheim-Pro-Light';letter-spacing:1px;position:relative;top:0;outline:none;text-shadow:0 0 1px rgba(255, 255, 255, 0.3);display:inline-block;padding-bottom:1px;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
#main-nav ul > li a:after{position:absolute;top:100%;left:0;width:100%;height:3px;content:'';opacity:0;background-color:rgba(29, 73, 142, .6);-webkit-transition:opacity 0.3s, -webkit-transform 0.3s;-moz-transition:opacity 0.3s, -moz-transform 0.3s;transition:opacity 0.3s, transform 0.3s;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px);}
#main-nav ul > li a:hover::after, #main-nav ul > li a:focus::after{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px);}
#main-nav ul > li a:hover{opacity:0.8;top:1px;}
#main-nav ul > li.current-menu-item a::after{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px);}
#main-nav ul > li:nth-child(1n), #main-nav ul > li:nth-child(2n){float:left;}
#main-nav ul > li:nth-child(3n), #main-nav ul > li:nth-child(4n){float:right;}
#main-nav ul > li:nth-child(1n){margin-left:3rem;}
#main-nav ul > li:nth-child(4n){margin-right:3rem;}
#ui-datepicker-div{font-size:1em;z-index:5 !important;}
.dates-flexible{position:relative;left:15px;}
.dates-flexible .wpcf7-list-item-label{font-size:0.7em;font-weight:300;}
#footer{color:#fff;}
#footer p, #footer li{color:#fff;}
#footer .inner-top{background-color:#004e9f;}
#footer .inner-bottom{background-color:#004792;}
#footer .inner-top, #footer .inner-bottom{padding:4rem 0 4rem;}
#footer-nav ul li{margin-bottom:0.6rem;}
#footer-nav ul li a{font-size:20px;position:relative;-webkit-backface-visibility:hidden;-webkit-transition:all 0.8s ease;-moz-transition:all 0.8s ease;-o-transition:all 0.8s ease;transition:all 0.8s ease;color:#d9d9d9;left:0;right:auto;opacity:1;}
#footer-nav ul li a:hover{color:#fff;}
#footer-nav > ul > li{float:left;width:25%;}
#footer-nav > ul > li > a{color:#fff;font-family:'GT-Walsheim-Pro-Medium';letter-spacing:1px;}
#footer-nav > ul > li > ul{margin-top:0.6rem;}
#contact-info{margin-bottom:5rem;}
#contact-info p{margin:0;}
#contact-info a{position:relative;left:0;right:auto;opacity:1;color:#d9d9d9;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
#contact-info a:hover{color:#fff;text-decoration:underline;}
#copyrights, #legal-link{font-size:12px;}
#copyrights p, #legal-link p{font-size:12px;color:#fff;margin:0;line-height:inherit;font-weight:400;}
#copyrights a, #legal-link a{-webkit-backface-visibility:hidden;-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease;color:#d0d0d0;}
#copyrights a:hover, #legal-link a:hover{text-decoration:underline;color:#fff;}
#legal-link{margin-top:1rem;}
#footer .social-media-links, #footer #legal-link{position:relative;left:-20px;}
.social-media-links{margin-top:0.2rem;}
.social-media-links.white-icons a{color:#fff;}
.social-media-links.grey-icons a{color:#878787;}
.social-media-links ul li{margin-right:2rem;}
.social-media-links ul li a{font-size:2.4em;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.social-media-links ul li a:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);opacity:0.8;}
.social-media-links ul li:last-child{margin-right:0;}
.page-id-93 .fx-wrapper{padding:2rem 0;}
body:not(.home) #destinations-feat .visible-animation, body:not(.home) #destinations-feat .visible-animation, body:not(.home) #boats-feat .visible-animation, body:not(.home) #boats-feat .visible-animation{opacity:1 !important;-webkit-animation-name:none !important;animation-name:none !important;}
.single-yachts .voilivoilou-slideshow-two{max-width:80%;margin:0 auto;}
.single-yachts #flexible-content-wrapper{padding-bottom:0;padding-top:0;}
.single-yachts #inquries{display:none;}
.single-yachts #inquiries-form{height:100%;}
.page-template-page-blue-bg #header .v-logo{color:#fff;}
.page-template-page-blue-bg #header.add-bg .v-logo{color:#1d498e;}
.page-template-page-blue-bg .page-title{color:#fff;}
.page-template-page-blue-bg .voili-feat h2.desc, .page-template-page-blue-bg .voili-feat .feat-title{color:#fff;}
.page-template-page-blue-bg .voili-feat h2.desc{margin-bottom:2rem;}
.page-template-page-blue-bg #main-nav ul li a{color:#fff;}
.page-template-page-blue-bg #main-nav ul li a:after{background-color:rgba(251, 251, 251, .6);}
.page-template-page-blue-bg #boats-feat .item{background-color:rgba(38, 97, 179, 1);}
.page-template-page-blue-bg #boats-feat .item h4{color:#fff;}
.page-template-page-blue-bg #boats-feat .item path{fill:#fff;}
.page-template-page-blue-bg #boats-feat .item:hover{background-color:rgba(0, 78, 159, 1);}
.page-template-page-blue-bg #destinations-feat .destination .item .wrap .v-mask{opacity:1;background-color:#2661b3;}
.page-template-page-blue-bg #destinations-feat .destination .item:hover .wrap .v-mask, .page-template-page-blue-bg #destinations-feat .destination .item:focus .wrap .v-mask{opacity:0;}
.visible-animation{opacity:0;-webkit-animation-duration:1s;-webkit-animation-delay:0.1s;-webkit-animation-iteration-count:1;-webkit-animation-direction:alternate;-webkit-animation-fill-mode:both;animation-duration:2s;animation-delay:0.2s;animation-iteration-count:1;animation-direction:alternate;animation-fill-mode:both;}
.css-animation{-webkit-animation-name:fadeInThis;animation-name:fadeInThis;}
.bg-white{background-color:#fff;}
.bg-grey{background-color:#ededed;}
.bg-lgrey{background-color:#f5f5f4;}
.bg-lwhite{background-color:#fafaf8;}
.bg-f8{background-color:#f8f8f8;}
.v-mask{background-color:rgba(29, 73, 142, 1);position:absolute;top:0;left:0;z-index:1;width:100%;min-height:100%;height:100%;display:block;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.v-mask.op-9{opacity:0.9;}
.v-mask.op-8{opacity:0.8;}
.voili-feat{padding:4rem 0 5rem;}
.voili-feat.remove-padding{padding:0;}
.voili-feat.remove-padding-top{padding-top:0;}
.voili-feat.remove-padding-bottom{padding-bottom:0;}
.voili-feat h3.feat-title, .voili-feat h2.desc{color:#4d4d4d;font-size:2.1em;line-height:1.3;font-family:"Century751BT-RomanB";display:block;text-align:center;letter-spacing:1px;margin-left:auto;margin-right:auto;max-width:62%;}
.voili-feat h3.feat-title.width-50, .voili-feat h2.desc.width-50{max-width:52%;}
.voili-feat h3.feat-title.width-60, .voili-feat h2.desc.width-60{max-width:62%;}
.voili-feat h3.feat-title.width-70, .voili-feat h2.desc.width-70{max-width:72%;}
.voili-feat h3.feat-title.width-80, .voili-feat h2.desc.width-80{max-width:82%;}
.voili-feat h3.feat-title{margin-bottom:4rem;}
.voili-feat h2.desc{margin-bottom:4rem;}
.voili-feat.remove-title-margin h2.desc{margin-bottom:0;}
.voili-feat.bg-white{background-color:#fff;}
.voili-feat.bg-grey{background-color:#ededed;}
.voili-feat.bg-lgrey{background-color:#f5f5f4;}
.voili-feat.bg-lwhite{background-color:#fafaf8;}
.voili-feat.bg-f8{background-color:#f8f8f8;}
.voili-feat.bg-blue{background-color:#0057b1;}
.voili-feat.bg-blue h3{color:#fff;}
#content.page-home{padding-top:4rem;}
#destinations-feat .destination:nth-child(5n){width:100%;}
#destinations-feat .destination .item{overflow:hidden;margin-bottom:2rem;}
#destinations-feat .destination .item .wrap{text-align:center;height:420px;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-webkit-transition:all 8s ease;-moz-transition:all 8s ease;-o-transition:all 8s ease;transition:all 8s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
#destinations-feat .destination .item .wrap .v-mask{-webkit-backface-visibility:hidden;-webkit-transition:all 1.2s ease;-moz-transition:all 1.2s ease;-o-transition:all 1.2s ease;transition:all 1.2s ease;opacity:0;}
#destinations-feat .destination .item .wrap h4{color:#fff;position:relative;z-index:2;font-weight:400;font-size:2.2em;letter-spacing:1px;display:inline-block;-webkit-backface-visibility:hidden;-webkit-transition:all 0.9s ease;-moz-transition:all 0.9s ease;-o-transition:all 0.9s ease;transition:all 0.9s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition-delay:0.1s;transition-delay:0.1s;position:relative;top:0;bottom:auto;left:0;right:auto;}
#destinations-feat .destination .item .wrap h4 a{color:#fff;}
#destinations-feat .destination .item .wrap h4 a:hover{color:#fff;}
#destinations-feat .destination .item:hover .wrap, #destinations-feat .destination .item.hover-tch .wrap{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
#destinations-feat .destination .item:hover .wrap:after, #destinations-feat .destination .item.hover-tch .wrap:after{top:0;}
#destinations-feat .destination .item:hover .v-mask, #destinations-feat .destination .item.hover-tch .v-mask{opacity:1;}
#boats-feat .css-animation:nth-child(1n){-webkit-animation-delay:0.3s;animation-delay:0.3s;}
#boats-feat .css-animation:nth-child(2n){-webkit-animation-delay:0.6s;animation-delay:0.6s;}
#boats-feat .css-animation:nth-child(3n){-webkit-animation-delay:0.9s;animation-delay:0.9s;}
#boats-feat .boat-item{z-index:1;}
#boats-feat .boat-item:hover, #boats-feat .boat-item:focus{z-index:2;}
#boats-feat .item{background-color:rgba(247, 247, 247, 1);height:420px;text-align:center;position:relative;-webkit-backface-visibility:hidden;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
#boats-feat .item .wrap{padding:6rem 0 0;display:block;position:relative;overflow:hidden;}
#boats-feat .item .svg{margin-bottom:4rem;}
#boats-feat .item h4{color:#4d4d4d;font-size:1.6em;margin:0;font-weight:400;-webkit-backface-visibility:hidden;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;}
#boats-feat .item path{-webkit-backface-visibility:hidden;-webkit-transition:all 0.6s ease;-moz-transition:all 0.6s ease;-o-transition:all 0.6s ease;transition:all 0.6s ease;}
#boats-feat .item:hover{background-color:rgba(0, 78, 159, 1);}
#boats-feat .item:hover h4{color:#fff;}
#boats-feat .item:hover path{fill:#fff;}
#boats-feat .item:hover svg{-webkit-animation-delay:0s;-webkit-animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-delay:0.1s;animation-fill-mode:both;animation-iteration-count:infinite;position:relative;}
#boats-feat .item.item-7:hover svg{-webkit-animation-name:voilers;-webkit-animation-duration:3.6s;-webkit-animation-timing-function:ease-in-out;animation-name:voilers;animation-duration:3.6s;animation-timing-function:ease-in-out;}
#boats-feat .item.item-8:hover svg{-webkit-animation-name:catamarans;-webkit-animation-duration:3s;-webkit-animation-timing-function:ease-in-out;animation-name:catamarans;animation-duration:3s;animation-timing-function:ease-in-out;}
#boats-feat .item.item-1:hover svg{-webkit-animation-name:motor;-webkit-animation-duration:2s;-webkit-animation-timing-function:linear;animation-name:motor;animation-duration:2s;animation-timing-function:linear;}
@-webkit-keyframes voilers{0%{left:0px;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
50%{left:10px;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
100%{left:0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
}
@keyframes voilers{0%{left:0px;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
50%{left:10px;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
100%{left:0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
}
@-webkit-keyframes catamarans{0%{top:0px;}
50%{top:15px;}
100%{top:0;}
}
@keyframes catamarans{0%{top:0px;}
50%{top:15px;}
100%{top:0;}
}
@-webkit-keyframes motor{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@keyframes motor{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-ms-transform:rotate(-360deg);transform:rotate(-360deg);}
}
.postid-372 .id-372{display:none !important;}
.postid-374 .id-374{display:none !important;}
.postid-363 .id-363{display:none !important;}
.postid-376 .id-376{display:none !important;}
.postid-370 .id-370{display:none !important;}
#skippers-feat .row:hover .item{opacity:0.5;}
#skippers-feat .item{float:left;margin:0 15px 2rem;text-align:center;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
#skippers-feat .item .css-animation:nth-child(1n){-webkit-animation-delay:0.3s;animation-delay:0.3s;}
#skippers-feat .item.css-animation:nth-child(2n){-webkit-animation-delay:0.6s;animation-delay:0.6s;}
#skippers-feat .item.css-animation:nth-child(3n){-webkit-animation-delay:0.9s;animation-delay:0.9s;}
#skippers-feat .item.css-animation:nth-child(4n){-webkit-animation-delay:1.2s;animation-delay:1.2s;}
#skippers-feat .item.css-animation:nth-child(5n){-webkit-animation-delay:1.5s;animation-delay:1.5s;}
#skippers-feat .item .wrap{width:204px;height:204px;display:block;margin-bottom:2rem;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
#skippers-feat .item h4{color:#4d4d4d;font-size:17px;margin:0;font-weight:400;-webkit-backface-visibility:hidden;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);position:relative;top:0;bottom:auto;}
#skippers-feat .item:hover{opacity:1 !important;}
#skippers-feat .item:hover .wrap{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
#skippers-feat .item:hover h4{top:4px;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.single #skippers-feat .row{text-align:center;}
.single #skippers-feat article.item{text-align:center;display:inline-block;float:none;}
.map-bg{background-image:url('../images/map_bg_blue.svg');}
#clients-feat .slick-arrow{top:25%;}
#clients-feat .item{text-align:center;padding-bottom:4rem;}
#clients-feat .item .wrap, #clients-feat .item .title, #clients-feat .item p{font-size:1.1em;line-height:inherit;color:#4d4d4d;}
#clients-feat .item .wrap{width:60%;margin:0 auto 1rem;}
#clients-feat .item p{margin:0 !important;}
#clients-feat .item .title{margin:0 0 2rem;font-weight:500;}
#clients-feat .item .post-excerpt, #clients-feat .item .date{font-size:0.9em;line-height:1.1;}
#page .blue-map-bg .feat-title{color:#fff;}
#page .blue-map-bg #clients-feat .item .post-excerpt, #page .blue-map-bg #clients-feat .item .date, #page .blue-map-bg #clients-feat .item .wrap, #page .blue-map-bg #clients-feat .item .title, #page .blue-map-bg #clients-feat .item p{color:#fff;}
#page .blue-map-bg #clients-feat .slideshow .slick-arrow{background-image:url("../images/arr-white.png");}
#page .blue-map-bg #clients-feat .slideshow ul.slick-dots li .dot, #page .blue-map-bg #clients-feat .slideshow ul.slick-dots li button{border-color:#fff;}
#page .blue-map-bg #clients-feat .slideshow ul.slick-dots li .dot:hover, #page .blue-map-bg #clients-feat .slideshow ul.slick-dots li button:hover, #page .blue-map-bg #clients-feat .slideshow ul.slick-dots li .dot:focus, #page .blue-map-bg #clients-feat .slideshow ul.slick-dots li button:focus{background-color:#fff;}
#page .blue-map-bg #clients-feat .slideshow ul.slick-dots li.slick-active button, #page .blue-map-bg #clients-feat .slideshow ul.slick-dots li.slick-active .dot{background-color:#fff;}
#inquries{text-align:center;}
#contact-button{width:240px;height:240px;display:inline-block;color:#004e9f;border:3px solid #004e9f;font-size:1.5em;letter-spacing:1px;line-height:inherit;position:relative;font-family:'GT-Walsheim-Pro-Medium';-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:background-color 0.5s, color 0.5s;transition:background-color 0.5s, color 0.5s;}
#contact-button .arrow{position:absolute;top:34%;bottom:auto;left:0;right:auto;font-size:34px;width:100%;text-align:center;opacity:0;-webkit-transition:opacity 0.8s, top 1.5s;transition:opacity 0.8s, top 1.5s;}
#contact-button:hover, #contact-button.active{-webkit-animation:shakebtn 0.3s forwards;animation:shakebtn 0.3s forwards;background-color:#004e9f;color:#fff;}
#contact-button:hover .arrow, #contact-button.active .arrow{top:74%;color:#fff;opacity:1;}
@-webkit-keyframes shakebtn{60%{-webkit-transform:scale3d(0.8, 0.8, 1);transform:scale3d(0.8, 0.8, 1);}
85%{-webkit-transform:scale3d(1.1, 1.1, 1);transform:scale3d(1.1, 1.1, 1);}
100%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
@keyframes shakebtn{60%{-webkit-transform:scale3d(0.8, 0.8, 1);transform:scale3d(0.8, 0.8, 1);}
85%{-webkit-transform:scale3d(1.1, 1.1, 1);transform:scale3d(1.1, 1.1, 1);}
100%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
#inquiries-form{background-image:url('../images/form_bg_trans.svg');overflow:hidden;padding:0;height:0;}
#inquiries-form h3{margin-top:4rem;}
#inquiries-form .content{padding-bottom:5rem;}
#inquiries-form .wpcf7{max-width:80%;margin:0 auto;}
#intro-header{background-color:transparent;}
#intro-header.remove-title{padding-top:4rem;}
#intro-header.remove-title .page-title{display:none;}
#intro-header.sizeLarge .page-title{font-size:4em;font-weight:300;}
#hero-banner{position:relative;height:440px;text-align:center;overflow:hidden;z-index:2;}
#hero-banner h1{position:relative;z-index:3;font-weight:300;font-size:4.2em;color:#fff;font-family:'GT-Walsheim-Pro-Light';}
.page-title{text-align:center;display:block;color:#4d4d4d;font-size:2.4em;font-weight:400;margin:8rem 0 0;}
.generic-layout .left-title{line-height:1.3;}
#page.form-opened #inquries{display:none;}
#page.form-opened #inquiries-form{height:auto;min-height:1100px;}
#page.remove-padding .fx-wrapper .four-col-c .container .row .grid-item, #page.remove-padding .fx-wrapper .six-col-c .container .row .grid-item, #page.remove-padding .fx-wrapper .two-col-c .container .row .grid-item{padding:0;}
#page.form-removed #inquries{display:none;}
.entry-content .shortcode-voili{margin-bottom:6rem;}
.sub-block{}
.sub-block article.row:last-of-type .item{margin-bottom:0;}
.sub-block .item{margin:0 auto 2rem;max-width:76%;}
.sub-block .item .wrap{background-color:#fff;position:relative;}
.sub-block .item .wrap .d-left{float:left;width:38%;padding:2rem 2rem;}
.sub-block .item .wrap .d-left h4{color:#4d4d4d;font-size:1.6em;line-height:1.2;}
.sub-block .item .wrap .d-left p{font-size:16px;color:#4d4d4d;}
.sub-block .item .wrap .d-left .wrap-content{position:absolute;bottom:2rem;left:2rem;}
.sub-block .item .wrap .d-left .wrap-content p{margin:0 !important;}
.sub-block .item .wrap .d-right{float:right;width:62%;overflow:hidden;}
.sub-block .item .wrap .d-right .img{-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);height:650px;display:block;}
.sub-block .item .wrap .d-right:hover .img, .sub-block .item .wrap .d-right:focus .img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.sub-block.yachts-blocks .item .d-right{height:380px;}
.sub-block.yachts-blocks .item .d-right .img{height:380px;}
.fx-wrapper .half-col-fx{padding-bottom:3rem;}
.fx-wrapper .voili-feat .half-col-fx{padding-bottom:0 !important;}
.single-yachts .three-col-fx{padding-bottom:3rem;}
.yacht-details:nth-child(1n){background-color:#f7f7f6;}
.yacht-details:nth-child(2n){background-color:#f0f0ef;}
.yacht-details .entry-content ul, .yacht-details .entry-content ol{margin-bottom:0 !important;}
.single-yachts #intro-header{background-color:#fff;}
.single-yachts #intro-header .page-title{font-size:4em;font-weight:300;margin-bottom:2rem;}
.skipper-header{padding:8rem 0 6rem;background-color:#fff;}
.skipper-header h1{color:#4d4d4d;font-size:2.1em;line-height:1.3em;margin-bottom:0;}
.skipper-header .desc{font-size:1.5em;margin-bottom:2rem;color:#4d4d4d;}
.page-template-page-about #intro-header{background-color:#fff;}
#blog-posts{background-color:#fefefe;padding-top:100px;}
#blog-posts .post{padding:4rem 0;}
#blog-posts .post img{max-width:100%;height:auto;display:block;}
#blog-posts .post:nth-child(1n){background-color:#fefefe;}
#blog-posts .post:nth-child(2n){background-color:#f9f9f8;}
#blog-posts .post .post-title{line-height:1.1em;color:#4d4d4d;margin:0 0 4rem;display:block;}
#blog-posts .post .date{color:#a9a9a9;font-weight:400;font-size:1.1em;line-height:inherit;display:block;margin:0.1rem 0 5rem;}
#blog-posts .post .share{position:relative;overflow:hidden;padding:2px 0;display:block;}
#blog-posts .post .share .hover{color:#a9a9a9;font-size:1.1em;cursor:pointer;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
#blog-posts .post .share .hover .fa-share-alt{padding:0 0 0 5px;color:#a9a9a9;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
#blog-posts .post .share .hover:hover .fa-share-alt{opacity:0;}
#blog-posts .post .share .share-buttons{position:absolute;left:-150px;right:auto;top:7px;bottom:auto;opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;}
#blog-posts .post .share .share-buttons li a{padding:1px 6px;-webkit-backface-visibility:hidden;-webkit-transition:all 600ms ease;-moz-transition:all 600ms ease;-o-transition:all 600ms ease;transition:all 600ms ease;color:#a9a9a9;}
#blog-posts .post .share .share-buttons li a:hover, #blog-posts .post .share .share-buttons li a:focus{color:#4d4d4d;}
#blog-posts .post .share:hover .share-buttons, #blog-posts .post .share:focus .share-buttons{left:85px;opacity:1;}
#blog-posts .slideshow{margin-bottom:3rem;padding-bottom:2rem;}
.single-post #inquries{display:none;}
.screen-reader-text{display:none;}
.video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
#blog-pagination{padding:2rem 0;background-color:#f9f9f8;}
#blog-pagination a{background-color:rgba(0, 0, 0, 0);border:1px solid #000;color:#000;display:block;font-family:'GT-Walsheim-Pro-Light';margin:2rem auto;min-width:300px;width:300px;padding:12px 20px;text-align:center;text-transform:uppercase;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
#blog-pagination a:hover{background-color:rgba(0, 0, 0, 1);color:#fff;}
#blog-pagination.active .loader{opacity:1;}
.loader{margin:10px auto;opacity:0;font-size:8px;position:relative;text-indent:-9999em;border-top:0.6em solid rgba(29, 73, 142, 0.3);border-right:0.6em solid rgba(29, 73, 142, 0.3);border-bottom:0.6em solid rgba(29, 73, 142, 0.3);border-left:0.6em solid #1d498e;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:load8 1.1s infinite linear;animation:load8 1.1s infinite linear;}
.loader, .loader:after{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;width:5em;height:5em;}
@-webkit-keyframes load8{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes load8{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.faq-wrapper{margin-bottom:1rem;}
.faq-wrapper .faq-title{padding:1rem;background-color:#f1f1f1;border:1px solid #ccc;cursor:pointer;display:block;}
.faq-wrapper .faq-title p{margin:0 !important;}
.faq-wrapper .faq-content{padding:0.1rem 1rem 0;background-color:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;display:none;}
.faq-section{margin-bottom:4rem;}
.faq-section .title{margin-bottom:1rem;}
#work-nav{display:none;background-color:#f1f1f1;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.single-destinations #work-nav, .single-yachts #work-nav{display:block;}
.single-skippers #work-nav .thumb{-webkit-background-size:inherit;background-size:inherit;}
#work-nav a{display:block;margin:0;height:80px;color:#000;float:left;position:relative;overflow:hidden;-webkit-transition:all 1.2s ease;transition:all 1.2s ease;}
#work-nav a:hover, #work-nav a:active{background-color:#fff;}
#work-nav a.prev::after, #work-nav a.next::after{content:attr(title);position:absolute;font-size:16px;text-align:center;color:#333;opacity:0;width:100%;text-transform:uppercase;letter-spacing:1px;top:38%;-webkit-transition:all 1s ease;transition:all 1s ease;}
#work-nav a.prev::after{left:10%;}
#work-nav a.next::after{right:10%;}
#work-nav a.prev:hover::after, #work-nav a.next:hover::after{opacity:1;}
#work-nav .arrows{width:41%;}
#work-nav .arrows .ent-arr{font-size:30px;width:30px;position:absolute;left:auto;right:auto;top:20%;bottom:auto;opacity:1;text-align:center;-webkit-transition:all 1s ease;transition:all 1s ease;}
#work-nav .prev .ent-arr{left:50%;}
#work-nav .next .ent-arr{right:50%;}
#work-nav .prev:hover .ent-arr{left:20%;opacity:0;}
#work-nav .next:hover .ent-arr{right:20%;opacity:0;}
#work-nav .thumb{width:120px;height:80px;display:block;position:absolute;top:0;bottom:auto;left:auto;right:auto;opacity:0.7;-webkit-transition:all 1s ease;transition:all 1s ease;}
#work-nav .prev .thumb{left:0;}
#work-nav .next .thumb{right:0;}
#work-nav .prev:hover .thumb{left:0;opacity:1;}
#work-nav .next:hover .thumb{right:0;opacity:1;}
#work-nav .all{width:18%;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
#work-nav .all .wrap{width:28px;margin:0 auto;position:relative;top:33%;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-transform:scale(1);transform:scale(1);}
#work-nav .all:hover .wrap{-webkit-transform:scale(1.2);transform:scale(1.2);}
#work-nav .all span{width:10px;height:10px;margin:2px;display:block;float:left;background-color:#000;position:relative;left:auto;right:auto;bottom:0;top:0;-webkit-transition:all 1s ease;transition:all 1s ease;}
#work-nav .all:hover span{background-color:#666;}
@media only screen and (max-width:1040px){#work-nav a.prev::after, #work-nav a.next::after{font-size:14px;width:auto;top:34%;}
#work-nav a.prev::after{text-align:right;right:5%;}
#work-nav a.next::after{text-align:left;left:5%;}
#work-nav .next .ent-arr{right:55%;}
#work-nav .next .thumb{right:0;}
#work-nav .prev .ent-arr{left:55%;}
#work-nav .prev .thumb{left:0;}
}
@media only screen and (max-width:767px){#work-nav .all{width:10%;}
#work-nav .arrows{width:45%;}
#work-nav a{height:40px;}
#work-nav a.prev::after, #work-nav a.next::after{font-size:9px;width:auto;top:38%;}
#work-nav a.prev::after{text-align:right;right:5%;}
#work-nav a.next::after{text-align:left;left:5%;}
#work-nav .arrows .ent-arr{font-size:20px;top:18%;text-align:center;}
#work-nav .next .ent-arr{right:65%;}
#work-nav .prev .ent-arr{left:65%;}
#work-nav .thumb{width:40px;height:40px;}
#work-nav .all .wrap{top:36%;width:16px;}
#work-nav .all span{margin:1px;width:6px;height:6px;}
}
.slideshow .slick-arrow{background-color:transparent;background-repeat:no-repeat;background-image:url('../images/arr.png');background-position:0 0;text-indent:-9999px;border:0;outline:none;vertical-align:middle;height:70px;width:34px;display:block;padding:0;-webkit-backface-visibility:hidden;-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease;}
.slideshow.absolute-dots .dots-nav{position:absolute;z-index:3;left:0;width:100%;height:auto;}
.slideshow .slick-prev{background-position:0 0;float:left;}
.slideshow .slick-prev:hover{background-position:-2px 0;}
.slideshow .slick-prev:active{background-position:-3px 0 !important;}
.slideshow .slick-next{background-position:-34px 0;float:right;}
.slideshow .slick-next:hover{background-position:-32px 0;}
.slideshow .slick-next:active{background-position:-31px 0 !important;}
.slideshow ul.slick-dots{clear:left;float:left;position:relative;left:50%;text-align:center;list-style:none;margin:0 !important;padding:0 !important;}
.slideshow ul.slick-dots li{display:block;float:left;position:relative;right:50%;list-style:none !important;line-height:inherit !important;}
.slideshow ul.slick-dots li button, .slideshow ul.slick-dots li .dot{display:block;margin:0 3px;background:transparent;border:none;height:12px;width:12px;text-indent:-9999px;position:relative;cursor:pointer !important;border:2px solid #6f6f6f;-webkit-backface-visibility:hidden;-webkit-transition:all 900ms ease;-moz-transition:all 900ms ease;-o-transition:all 900ms ease;transition:all 900ms ease;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;}
.slideshow ul.slick-dots li button:hover, .slideshow ul.slick-dots li .dot:hover{background-color:#6f6f6f;}
.slideshow ul.slick-dots li.slick-active button, .slideshow ul.slick-dots li.slick-active .dot{background-color:#6f6f6f;}
.slick-slide img{margin-left:auto;margin-right:auto;}
.absolute-arrows .slick-arrow{position:absolute;top:50%;margin-top:-35px;z-index:3;}
.absolute-arrows .slick-prev{left:-5px;}
.absolute-arrows .slick-next{right:-5px;}
#hero-slideshow{overflow:hidden;}
#hero-slideshow h1, #hero-slideshow h2, #hero-slideshow h3, #hero-slideshow p{position:absolute;color:#fff;font-weight:400;text-align:center;display:block;z-index:3;}
#hero-slideshow h1 b, #hero-slideshow h2 b, #hero-slideshow h3 b, #hero-slideshow p b, #hero-slideshow h1 strong, #hero-slideshow h2 strong, #hero-slideshow h3 strong, #hero-slideshow p strong{font-weight:500 !important;}
#hero-slideshow a.link{text-decoration:none !important;color:#fff;font-family:'GT-Walsheim-Pro-Light';}
#hero-slideshow h1{top:45px;width:100%;font-size:26px;line-height:1.3em;font-family:'GT-Walsheim-Pro-Light';letter-spacing:1px;text-align:center;}
#hero-slideshow h1 strong{font-family:'GT-Walsheim-Pro-Medium';letter-spacing:1px;display:block;}
#hero-slideshow h2{top:36%;width:100%;left:0;font-size:4.2em;font-weight:300;font-family:'GT-Walsheim-Pro-Light';}
#hero-slideshow p{top:auto;bottom:90px;left:50%;font-size:20px;width:660px;margin-left:-330px;line-height:1.3em;margin-top:0;margin-bottom:0;z-index:4;}
#hero-slideshow .slick-arrow{bottom:80px;z-index:5;top:auto;}
#hero-slideshow .slick-next{right:20%;}
#hero-slideshow .slick-prev{left:20%;}
#hero-slideshow .slick-arrow{background-image:url('../images/arr-home.png');}
#hero-slideshow .slick-slide{overflow:hidden;position:relative;cursor:pointer;height:80vh;}
#hero-slideshow .slick-slide .slide-img{height:100%;min-height:100%;position:absolute;width:100%;left:0;top:0;display:block;z-index:2;}
#hero-slideshow .slick-slide.slick-active .slide-img{-webkit-animation:scaleImg 12s linear 0.8s infinite alternate;animation:scaleImg 12s linear 0.8s infinite alternate;}
@keyframes scaleImg{from{transform:scale(1);}
to{transform:scale(1.1);}
}
@-webkit-keyframes scaleImg{from{-webkit-transform:scale(1);}
to{-webkit-transform:scale(1.1);}
}
.voilivoilou-photo-gallery{position:relative;padding:0 55px;}
.voilivoilou-photo-gallery .slick-prev{left:-5px;}
.voilivoilou-photo-gallery .slick-next{right:-5px;}
.voilivoilou-photo-gallery .slide:hover .item{opacity:0.3;}
.voilivoilou-photo-gallery .slide .wrap{overflow:hidden;padding:0 !important;}
.voilivoilou-photo-gallery .slide .wrap:nth-child(1n), .voilivoilou-photo-gallery .slide .wrap:nth-child(2n), .voilivoilou-photo-gallery .slide .wrap:nth-child(3n), .voilivoilou-photo-gallery .slide .wrap:nth-child(5n), .voilivoilou-photo-gallery .slide .wrap:nth-child(6n), .voilivoilou-photo-gallery .slide .wrap:nth-child(7n){border-right:2px solid #fff;}
.voilivoilou-photo-gallery .slide .wrap:nth-child(4n), .voilivoilou-photo-gallery .slide .wrap:nth-child(8n){border-right:none !important;}
.voilivoilou-photo-gallery .slide .wrap:nth-child(1n), .voilivoilou-photo-gallery .slide .wrap:nth-child(2n), .voilivoilou-photo-gallery .slide .wrap:nth-child(3n), .voilivoilou-photo-gallery .slide .wrap:nth-child(4n){border-bottom:2px solid #fff;}
.voilivoilou-photo-gallery .slide .wrap:nth-child(5n), .voilivoilou-photo-gallery .slide .wrap:nth-child(6n), .voilivoilou-photo-gallery .slide .wrap:nth-child(7n), .voilivoilou-photo-gallery .slide .wrap:nth-child(8n){border-bottom:none !important;}
.voilivoilou-photo-gallery .slide .item{height:240px;display:block;opacity:1;-webkit-backface-visibility:hidden;-webkit-transition:all 1.4s ease;-moz-transition:all 1.4s ease;-o-transition:all 1.4s ease;transition:all 1.4s ease;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.voilivoilou-photo-gallery .slide .item:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);opacity:1 !important;}
.slideshow-fx{overflow:hidden;}
.slideshow-fx .Map-img-map{overflow:hidden;}
.slideshow-fx .Map-img-map img{position:relative;}
.slideshow-fx.one-slide .slide{padding-bottom:0 !important;}
.slideshow-fx .slide{padding-bottom:160px;position:relative;background-color:#fafaf8;padding-left:0;padding-right:0;}
.slideshow-fx .slide.Map-img-map{padding:0;}
.slideshow-fx .slide.slide-2col{padding-top:50px;}
.slideshow-fx .title-bottom{position:absolute;color:#4d4d4d;font-weight:400;text-align:center;display:block;z-index:3;width:100%;bottom:70px;left:auto;font-size:1.1em;font-family:'GT-Walsheim-Pro-Light';}
.slideshow-fx p{color:#4d4d4d;}
.slideshow-fx .dots-nav{bottom:42px;}
.slideshow-fx .dots-nav .wrap{position:relative;margin:0 auto;}
.slideshow-fx .dots-nav .wrap .append-dots{position:relative;top:10px;}
.slideshow-fx .dots-nav .wrap .slick-arrow{top:0;}
.slideshow-fx .dots-nav .wrap .slick-arrow.slick-prev{left:-100px;}
.slideshow-fx .dots-nav .wrap .slick-arrow.slick-next{right:-100px;}
.yachts-carousel .slick-prev{left:-51px;}
.yachts-carousel .slick-next{right:-50px;}
.yachts-carousel .item-wrap{background-color:#fff;display:block;}
.yachts-carousel .item-wrap h4{color:#4d4d4d;font-size:1.6em;line-height:1.1;font-family:'GT-Walsheim-Pro-Light';margin:0 0 95px;position:relative;}
.yachts-carousel .item-wrap p{font-size:1.1em;font-family:'GT-Walsheim-Pro-Light';}
.yachts-carousel .item-wrap .top{height:290px;padding:2rem;}
.yachts-carousel .item-wrap .bottom{overflow:hidden;}
.yachts-carousel .item-wrap .bottom .img{display:block;height:300px;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
.yachts-carousel .item-wrap:hover .bottom .img, .yachts-carousel .item-wrap:focus .bottom .img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
.voilivoilou-slideshow-one .item{height:360px;display:block;}
.voilivoilou-slideshow-one .slick-dots, .voilivoilou-slideshow-two .slick-dots{bottom:-15px;}
.voilivoilou-slideshow-two .slick-prev{left:-50px;}
.voilivoilou-slideshow-two .slick-next{right:-50px;}
.carousel-fx .title{margin-bottom:4rem;padding-right:4rem;}
.carousel-fx .desc{padding:3rem 0;}
.carousel-fx .centered{margin:0 auto;display:block;}
.carousel-fx .slick-prev{left:-60px;}
.carousel-fx .slick-next{right:-50px;}
.moveabit{-webkit-animation:moveabit 2s infinite;animation:moveabit 2s infinite;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes moveabit{0%{top:3px;}
50%{top:6px;}
100%{top:3px;}
}
@-webkit-keyframes moveabit{0%{top:3px;}
50%{top:6px;}
100%{top:3px;}
}
.slideDown{animation-name:slideDown;-webkit-animation-name:slideDown;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@keyframes slideDown{0%{transform:translateY(-100%);}
50%{transform:translateY(8%);}
65%{transform:translateY(-4%);}
80%{transform:translateY(4%);}
95%{transform:translateY(-2%);}
100%{transform:translateY(0%);}
}
@-webkit-keyframes slideDown{0%{-webkit-transform:translateY(-100%);}
50%{-webkit-transform:translateY(8%);}
65%{-webkit-transform:translateY(-4%);}
80%{-webkit-transform:translateY(4%);}
95%{-webkit-transform:translateY(-2%);}
100%{-webkit-transform:translateY(0%);}
}
.slideUp{animation-name:slideUp;-webkit-animation-name:slideUp;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease;-webkit-animation-timing-function:ease;visibility:visible !important;}
@keyframes slideUp{0%{transform:translateY(100%);}
50%{transform:translateY(-8%);}
65%{transform:translateY(4%);}
80%{transform:translateY(-4%);}
95%{transform:translateY(2%);}
100%{transform:translateY(0%);}
}
@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(100%);}
50%{-webkit-transform:translateY(-8%);}
65%{-webkit-transform:translateY(4%);}
80%{-webkit-transform:translateY(-4%);}
95%{-webkit-transform:translateY(2%);}
100%{-webkit-transform:translateY(0%);}
}
.slideLeft{animation-name:slideLeft;-webkit-animation-name:slideLeft;animation-duration:0.9s;-webkit-animation-duration:0.9s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes slideLeft{0%{transform:translateX(150%);}
50%{transform:translateX(-8%);}
65%{transform:translateX(4%);}
80%{transform:translateX(-4%);}
95%{transform:translateX(2%);}
100%{transform:translateX(0%);}
}
@-webkit-keyframes slideLeft{0%{-webkit-transform:translateX(150%);}
50%{-webkit-transform:translateX(-8%);}
65%{-webkit-transform:translateX(4%);}
80%{-webkit-transform:translateX(-4%);}
95%{-webkit-transform:translateX(2%);}
100%{-webkit-transform:translateX(0%);}
}
.slideRight{animation-name:slideRight;-webkit-animation-name:slideRight;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes slideRight{0%{transform:translateX(-150%);}
50%{transform:translateX(8%);}
65%{transform:translateX(-4%);}
80%{transform:translateX(4%);}
95%{transform:translateX(-2%);}
100%{transform:translateX(0%);}
}
@-webkit-keyframes slideRight{0%{-webkit-transform:translateX(-150%);}
50%{-webkit-transform:translateX(8%);}
65%{-webkit-transform:translateX(-4%);}
80%{-webkit-transform:translateX(4%);}
95%{-webkit-transform:translateX(-2%);}
100%{-webkit-transform:translateX(0%);}
}
.fadeIn{animation-name:fadeIn;-webkit-animation-name:fadeIn;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible !important;}
@keyframes fadeIn{0%{transform:scale(0);opacity:0;}
60%{transform:scale(1.1);}
80%{transform:scale(0.9);opacity:1;}
100%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(0);opacity:0;}
60%{-webkit-transform:scale(1.1);}
80%{-webkit-transform:scale(0.9);opacity:1;}
100%{-webkit-transform:scale(1);opacity:1;}
}
.hatch{animation-name:hatch;-webkit-animation-name:hatch;animation-duration:2s;-webkit-animation-duration:2s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%;visibility:visible !important;}
@keyframes hatch{0%{transform:rotate(0deg) scaleY(0.6);}
20%{transform:rotate(-2deg) scaleY(1.05);}
35%{transform:rotate(2deg) scaleY(1);}
50%{transform:rotate(-2deg);}
65%{transform:rotate(1deg);}
80%{transform:rotate(-1deg);}
100%{transform:rotate(0deg);}
}
@-webkit-keyframes hatch{0%{-webkit-transform:rotate(0deg) scaleY(0.6);}
20%{-webkit-transform:rotate(-2deg) scaleY(1.05);}
35%{-webkit-transform:rotate(2deg) scaleY(1);}
50%{-webkit-transform:rotate(-2deg);}
65%{-webkit-transform:rotate(1deg);}
80%{-webkit-transform:rotate(-1deg);}
100%{-webkit-transform:rotate(0deg);}
}
.bounce{animation-name:bounce;-webkit-animation-name:bounce;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease;-webkit-animation-timing-function:ease;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%;}
@keyframes bounce{0%{transform:translateY(0%) scaleY(0.6);}
60%{transform:translateY(-100%) scaleY(1.1);}
70%{transform:translateY(0%) scaleY(0.95) scaleX(1.05);}
80%{transform:translateY(0%) scaleY(1.05) scaleX(1);}
90%{transform:translateY(0%) scaleY(0.95) scaleX(1);}
100%{transform:translateY(0%) scaleY(1) scaleX(1);}
}
@-webkit-keyframes bounce{0%{-webkit-transform:translateY(0%) scaleY(0.6);}
60%{-webkit-transform:translateY(-100%) scaleY(1.1);}
70%{-webkit-transform:translateY(0%) scaleY(0.95) scaleX(1.05);}
80%{-webkit-transform:translateY(0%) scaleY(1.05) scaleX(1);}
90%{-webkit-transform:translateY(0%) scaleY(0.95) scaleX(1);}
100%{-webkit-transform:translateY(0%) scaleY(1) scaleX(1);}
}
html.swipebox-html.swipebox-touch{overflow:hidden !important;}
#swipebox-overlay img{border:none !important;}
#swipebox-overlay{width:100%;height:100%;position:fixed;top:0;left:0;z-index:99999 !important;overflow:hidden;user-select:none;}
#swipebox-container{position:relative;width:100%;height:100%;}
#swipebox-slider{transition:transform 0.4s ease;height:100%;left:0;top:0;width:100%;white-space:nowrap;position:absolute;display:none;cursor:pointer;}
#swipebox-slider .slide{height:100%;width:100%;line-height:1px;text-align:center;display:inline-block;}
#swipebox-slider .slide:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px;}
#swipebox-slider .slide img, #swipebox-slider .slide .swipebox-video-container, #swipebox-slider .slide .swipebox-inline-container{display:inline-block;max-height:100%;max-width:100%;margin:0;padding:0;width:auto;height:auto;vertical-align:middle;}
#swipebox-slider .slide .swipebox-video-container{background:none;max-width:1140px;max-height:100%;width:100%;padding:5%;box-sizing:border-box;}
#swipebox-slider .slide .swipebox-video-container .swipebox-video{width:100%;height:0;padding-bottom:56.25%;overflow:hidden;position:relative;}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{width:100% !important;height:100% !important;position:absolute;top:0;left:0;}
#swipebox-slider .slide-loading{background:url(../images/loader.gif) no-repeat center center;}
#swipebox-bottom-bar, #swipebox-top-bar{transition:0.5s;position:absolute;left:0;z-index:999;height:50px;width:100%;}
#swipebox-bottom-bar{bottom:-50px;}
#swipebox-bottom-bar.visible-bars{transform:translate3d(0, -50px, 0);}
#swipebox-top-bar{top:-50px;}
#swipebox-top-bar.visible-bars{transform:translate3d(0, 50px, 0);}
#swipebox-title{display:block;width:100%;text-align:center;}
#swipebox-prev, #swipebox-next, #swipebox-close{background-image:url(../images/icons.png);background-repeat:no-repeat;border:none !important;text-decoration:none !important;cursor:pointer;width:50px;height:50px;top:0;}
#swipebox-arrows{display:block;margin:0 auto;width:100%;height:50px;}
#swipebox-prev{background-position:-32px 13px;float:left;}
#swipebox-next{background-position:-78px 13px;float:right;}
#swipebox-close{top:0;right:0;position:absolute;z-index:9999;background-position:15px 12px;}
.swipebox-no-close-button #swipebox-close{display:none;}
#swipebox-prev.disabled, #swipebox-next.disabled{opacity:0.3;}
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider{animation:rightSpring 0.3s;}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider{animation:leftSpring 0.3s;}
.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after{backface-visibility:hidden;transition:all 0.3s ease;content:' ';position:absolute;z-index:999;top:0;height:100%;width:20px;opacity:0;}
.swipebox-touch #swipebox-container:before{left:0;box-shadow:inset 10px 0px 10px -8px #656565;}
.swipebox-touch #swipebox-container:after{right:0;box-shadow:inset -10px 0px 10px -8px #656565;}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before{opacity:1;}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after{opacity:1;}
@keyframes rightSpring{0%{left:0;}
50%{left:-30px;}
100%{left:0;}
}
@keyframes leftSpring{0%{left:0;}
50%{left:30px;}
100%{left:0;}
}
@media screen and (min-width:800px){#swipebox-close{right:10px;}
#swipebox-arrows{width:92%;max-width:800px;}
}
#swipebox-overlay{background:#0d0d0d;}
#swipebox-bottom-bar, #swipebox-top-bar{text-shadow:1px 1px 1px black;background:#000;opacity:0.95;}
#swipebox-top-bar{color:white !important;font-size:15px;line-height:43px;font-family:Helvetica, Arial, sans-serif;}
.slick-loading .slick-list{background:#fff url('../images/ajax-loader.gif') center center no-repeat;}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track, .slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;left:0;top:0;display:block;}
.slick-track:before, .slick-track:after{content:"";display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{float:left;height:100%;min-height:1px;display:none;}
[dir="rtl"] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
#lang_sel_footer{position:fixed;top:auto;bottom:-50px;left:0;right:auto;margin-bottom:0;width:100%;background-color:rgba(251, 251, 251, .9);z-index:9999;-webkit-backface-visibility:hidden;-webkit-transition:all 400ms ease;-moz-transition:all 400ms ease;-o-transition:all 400ms ease;transition:all 400ms ease;}
#lang_sel_footer.wpml-ls-legacy-list-horizontal{padding:2px 0;}
#lang_sel_footer a{background-color:transparent;}
#lang_sel_footer .wpml-ls-current-language{-webkit-border-radius:3px;border-radius:3px;}
#lang_sel_footer .wpml-ls-current-language a{text-decoration:underline;}
.scrolling-down #lang_sel_footer{bottom:0 !important;}
#mobile-fixed-nav .menu{position:relative;}
#mobile-fixed-nav .menu-item-language{font-size:0.8em;}
#mobile-fixed-nav .menu-item-language:last-of-type{position:absolute;right:50px;bottom:0;}
#mobile-fixed-nav .social-media-links{margin-top:12px;}
#mobile-fixed-nav .wpml-ls-current-language a{text-decoration:underline;}
@media only screen and (min-width:1039px) and (max-width:1140px){.skipper-header{padding-top:110px;text-align:center;}
.skipper-header img{max-width:100%;margin-left:auto;margin-right:auto;margin-bottom:15px;}
}
@media only screen and (max-width:1040px){.bg-fixed{background-attachment:inherit;}
p{font-size:16px;}
#contact-button{font-size:1.2em;width:190px;height:190px;}
#inquries{padding:3rem 0;}
.slideshow-fx .Map-img-map img{max-width:140% !important;left:-20%;}
#header{height:50px;}
#header .v-logo{top:11px;}
#header .v-logo:hover, #header .v-logo:focus{top:13px;}
#main-nav{top:12px;}
#main-nav ul li a{font-size:1em;}
#main-nav ul li:nth-child(1n){margin-left:2rem;}
#main-nav ul li:nth-child(4n){margin-right:2rem;}
#hero-slideshow h1{top:35px;}
#hero-slideshow h2{font-size:2.8em;line-height:1.3em;}
#hero-slideshow p{width:100%;padding:0 2.5rem;margin:0;bottom:45px;left:auto;}
#hero-slideshow .arr-nav{width:100%;margin-left:0;left:0;padding:0 0.5rem;bottom:40px;}
.slideshow .slick-arrow{height:35px;width:18px;background-size:34px 35px;overflow:hidden;}
.slideshow .slick-prev:hover{background-position:-1px 0;}
.slideshow .slick-prev:active{background-position:-2px 0 !important;}
.slideshow .slick-next{background-position:-18px 0;}
.slideshow .slick-next:hover{background-position:-17px 0;}
.slideshow .slick-next:active{background-position:-16px 0 !important;}
#content.page-home{padding-top:3rem;}
#destinations-feat .destination .item .wrap{height:280px;}
#destinations-feat .destination .item .wrap h4{font-size:1.6em;}
#boats-feat .item{height:230px;margin-bottom:1rem;}
#boats-feat .item .wrap{padding:1rem 0;}
#boats-feat .item .wrap .svg{margin-bottom:0;}
#boats-feat .item h4{font-size:1.2em;}
#skippers-feat .item{margin:0 5px 1rem;}
#skippers-feat .item .wrap{height:138px;width:138px;}
.skipper-header{padding-top:110px;text-align:center;}
.skipper-header img{max-width:100%;margin-left:auto;margin-right:auto;margin-bottom:15px;}
.voilivoilou-photo-gallery .slide .item{height:140px;}
#clients-feat .item .wrap{width:80%;}
#clients-feat .item .wrap, #clients-feat .item .title, #clients-feat .item p{font-size:1em;}
#inquiries-form h3{margin-bottom:2rem;}
form fieldset{margin-bottom:1rem;}
form label{font-size:1.1em;margin-bottom:0.4rem;}
form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="password"], form input[type="url"], form textarea, form span.customSelect{height:42px;}
form textarea{min-height:140px;}
form input[type="submit"]{margin:2rem auto 1rem;min-width:300px;}
#footer .inner-top, #footer .inner-bottom{padding:2rem 0;}
#footer-nav ul li a{font-size:1em;}
#contact-info{margin-bottom:3rem;}
#contact-info p{font-size:0.9em;}
#hero-banner{height:280px;}
#hero-banner h1{font-size:1.7em;}
.voili-feat h3.feat-title, .voili-feat h2.desc{font-size:1.3em;max-width:65%;}
.voili-feat h3.feat-title.width-50, .voili-feat h2.desc.width-50, .voili-feat h3.feat-title.width-60, .voili-feat h2.desc.width-60, .voili-feat h3.feat-title.width-70, .voili-feat h2.desc.width-70, .voili-feat h3.feat-title.width-80, .voili-feat h2.desc.width-80{max-width:80%;}
.sub-block .item{max-width:82%;}
.sub-block .item .wrap .d-left{padding:2rem 1rem;}
.sub-block .item .wrap .d-left h4{font-size:1.6em;margin-bottom:2rem;}
.sub-block .item .wrap .d-left p{font-size:14px;}
.sub-block .item .wrap .d-left .wrap-content{left:1rem;}
.sub-block .item .wrap .d-right{height:auto;}
.sub-block .item .wrap .d-right .img{height:420px;}
.sub-block.yachts-blocks .item .wrap .d-right .img{height:280px;}
.single-yachts #intro-header .page-title{font-size:2.6em;margin-top:5rem;}
#intro-header.sizeLarge .page-title{font-size:2.6em;margin-top:5rem;}
.voilivoilou-slideshow-one.bullets{padding-bottom:40px;}
.voilivoilou-slideshow-two.absolute-arrows .slick-next, .carousel-two-slides.absolute-arrows .slick-next{right:-21px;}
.voilivoilou-slideshow-two.absolute-arrows .slick-prev, .carousel-two-slides.absolute-arrows .slick-prev{left:-21px;}
.yachts-carousel{margin:0;}
.yachts-carousel .slick-next{right:-18px;}
.yachts-carousel .slick-prev{left:-18px;}
.yachts-carousel .item{padding:0 6px;}
.yachts-carousel .item .item-wrap .top{height:160px;padding:1rem;}
.yachts-carousel .item .item-wrap .top h4{font-size:1.1em;margin-bottom:20px;}
.yachts-carousel .item .item-wrap .top .content{font-size:12px;}
.yachts-carousel .item .item-wrap .bottom .img{height:180px;}
}
@media only screen and (max-width:767px){html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
.bg-fixed{background-attachment:inherit;}
.slideshow ul.slick-dots li button, .slideshow ul.slick-dots li .dot{width:10px;height:10px;border-width:1px;}
p, .entry-content ol li, .entry-content ul li{font-size:0.8em;}
.single-yachts .voilivoilou-slideshow-two{max-width:100%;margin:0 auto;}
#inquiries-form .wpcf7{max-width:100%;}
.page-template-page-blue-bg #header .v-logo{color:#1d498e;}
.text-editor.entry-content{padding:0 15px;}
#preloader .wrapper{width:100px;height:100px;margin:-50px 0 0 -50px;}
#preloader .wrapper svg{max-width:100%;height:auto;}
h2{font-size:1.2em;}
h3{font-size:1em;}
h4{font-size:0.9em;}
.carousel-fx .title{line-height:1.1em;padding-right:0.6rem;padding-left:0.3rem;}
.slideshow-fx .dots-nav .wrap .slick-arrow{margin-top:-5px;}
.slideshow-fx .dots-nav .wrap .slick-arrow.slick-prev{left:-20px;}
.slideshow-fx .dots-nav .wrap .slick-arrow.slick-next{right:-20px;}
.slideshow-fx ul.slick-dots li button, .slideshow-fx ul.slick-dots li .dot{width:9px;height:9px;margin:0 1.5px;}
.slideshow-fx .Map-img-map img{max-width:200% !important;left:-50%;}
#footer .social-media-links, #footer #legal-link{left:0;}
#header{height:45px;}
#header .v-logo{top:11px;left:0;right:auto;font-size:1em;margin-left:0;}
#header .v-logo:hover, #header .v-logo:focus{top:13px;}
#header.template-banner .v-logo{color:#1d498e;}
#header .hamburger .line{background-color:#1d498e;}
#mobile-nav{display:block;}
#header.sub-nav{background-color:#fff;}
#main-nav{display:none;}
#hero-slideshow h1{font-size:1em;top:16px;}
#hero-slideshow h2{font-size:1.8em;line-height:1.2em;}
#hero-slideshow p{font-size:0.9em;width:100%;padding:0 2.5rem;margin:0;bottom:20px;left:auto;}
#hero-slideshow .slick-arrow{bottom:20px;}
#hero-slideshow .slick-prev{left:5%;}
#hero-slideshow .slick-next{right:5%;}
.slideshow .slick-arrow{height:35px;width:18px;background-size:34px 35px;overflow:hidden;}
.slideshow .slick-prev:hover{background-position:-1px 0;}
.slideshow .slick-prev:active{background-position:-2px 0 !important;}
.slideshow .slick-next{background-position:-18px 0;}
.slideshow .slick-next:hover{background-position:-17px 0;}
.slideshow .slick-next:active{background-position:-16px 0 !important;}
.slideshow.absolute-arrows .slick-arrow{margin-top:-18px;}
.slideshow.absolute-arrows .slick-arrow.slick-next{right:3px;}
.slideshow.absolute-arrows .slick-arrow.slick-prev{left:3px;}
.voili-feat{padding:2rem 0 2rem;}
.voili-feat h3.feat-title, .voili-feat h2.desc{font-size:1em;line-height:1.1em;margin-bottom:2rem;max-width:80%;}
.voili-feat h3.feat-title.width-50, .voili-feat h2.desc.width-50, .voili-feat h3.feat-title.width-60, .voili-feat h2.desc.width-60, .voili-feat h3.feat-title.width-70, .voili-feat h2.desc.width-70, .voili-feat h3.feat-title.width-80, .voili-feat h2.desc.width-80{max-width:80%;}
#content.page-home{padding-top:3rem;}
#destinations-feat .destination{padding:0 3px;}
#destinations-feat .destination .item{margin-bottom:6px;}
#destinations-feat .destination .item .wrap{height:180px;}
#destinations-feat .destination .item .wrap h4{font-size:1em;}
#boats-feat .item{height:300px;}
#boats-feat .item .wrap{padding:25px 0;}
#boats-feat .item .wrap .svg{margin-bottom:25px;}
#boats-feat .item .wrap .svg svg{margin:0 auto;}
#boats-feat .item h4{font-size:1em;line-height:1.2em;}
#skippers-feat .item{float:none;margin:0 auto 3rem;width:240px;}
#skippers-feat .item .wrap{height:240px;width:240px;margin-bottom:0.8rem;}
.voilivoilou-photo-gallery{padding:0 22px;}
.voilivoilou-photo-gallery .slide .wrap{border-width:1px !important;}
.voilivoilou-photo-gallery .slide .item{height:85px;}
#clients-feat .item{padding-bottom:0.5rem;}
#clients-feat .item .title{margin-bottom:0.9rem;}
#clients-feat .item .wrap{width:auto;padding:0 35px;}
#clients-feat .item .wrap, #clients-feat .item .title, #clients-feat .item p{font-size:0.9em;}
#clients-feat .item .post-excerpt, #clients-feat .item .date{font-size:0.7em;}
#clients-feat .slick-prev{left:7px;}
#clients-feat .slick-next{right:4px;}
#contact-button{font-size:1em;width:145px;height:145px;}
#inquiries-form h3{margin:2rem auto;max-width:auto;}
form fieldset{margin-bottom:0.6rem;}
form label{font-size:0.9em;margin-bottom:0.2rem;}
form input[type="text"], form input[type="email"], form input[type="tel"], form input[type="password"], form input[type="url"], form textarea, form span.customSelect{height:32px;padding:4px 6px;font-size:0.9em;margin-bottom:0.8rem;}
form textarea{min-height:100px;}
form input[type="submit"]{margin:1rem auto 1rem;min-width:180px;font-size:0.8em;padding:4px 0;}
form input[type="checkbox"]{position:relative;}
div.wpcf7-response-output{font-size:0.8em;line-height:1.2em;}
.customSelect{padding-top:6px !important;}
.customSelect .customSelectInner{top:4px;}
.customSelect .customSelectInner:after{border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #706e73;right:8px;top:10px;}
.customSelect.customSelectHover .customSelectInner:after, .customSelect.customSelectOpen .customSelectInner:after{top:10px;}
#footer .inner-top{padding:1rem 0;}
#footer .inner-bottom{padding:1rem 0 3rem;}
#footer-nav ul li{display:block;float:none;text-align:center;width:auto;margin-bottom:1.1rem;}
#footer-nav ul li a{font-size:0.9em;}
#footer-nav ul li .sub-menu{margin-top:0.1rem;}
#footer-nav ul li .sub-menu li{margin-bottom:0;}
#copyrights p, #legal-link p{font-size:0.8em;}
.social-media-links{margin-top:0.2rem;}
.social-media-links ul li{margin-right:8px;}
.social-media-links ul li a{text-align:right;font-size:2em;}
.page-title{font-size:1.3em;margin-top:4rem;}
.single-yachts #intro-header .page-title{font-size:1.3em;margin-top:4rem;}
#intro-header.sizeLarge .page-title{font-size:1.3em;margin-top:4rem;}
#hero-banner{height:200px;padding-top:44px;}
#hero-banner h1{font-size:1.2em;}
.sub-block .item{max-width:100%;}
.sub-block .item .wrap .d-left{float:none;width:100%;padding:1rem;}
.sub-block .item .wrap .d-left h4{font-size:1.7em;margin-bottom:2rem;}
.sub-block .item .wrap .d-left p{font-size:14px;}
.sub-block .item .wrap .d-left .wrap-content{position:relative;bottom:auto;left:auto;}
.sub-block .item .wrap .d-right{width:100%;float:none;height:auto;}
.sub-block .item .wrap .d-right .img{height:380px;}
.yachts-carousel{margin:0;}
.yachts-carousel .slick-next{right:-14px;}
.yachts-carousel .slick-prev{left:-14px;}
.yachts-carousel .item{padding:0 5px;}
.yachts-carousel .item .item-wrap .top{height:160px;padding:0.8rem;}
.yachts-carousel .item .item-wrap .top h4{font-size:0.9em;margin-bottom:20px;}
.yachts-carousel .item .item-wrap .top .content{font-size:10px;}
.yachts-carousel .item .item-wrap .bottom .img{height:160px;}
.voilivoilou-slideshow-one.bullets{padding-bottom:40px;}
.fx-wrapper .half-col-fx{padding-bottom:0;}
#blog-posts{padding-top:50px;}
#blog-posts .post{padding:1.5rem 0;}
#blog-posts .post .date{float:left;font-size:0.7em;margin-bottom:1rem;position:relative;}
#blog-posts .post .date:after{content:"|";position:absolute;right:-9px;top:0;color:#a9a9a9;font-size:0.9em;}
#blog-posts .post .share{left:16px;}
#blog-posts .post .share .hover{font-size:0.7em;}
#blog-posts .post .post-title{margin-bottom:2rem;font-size:1.4em;}
#blog-pagination a{min-width:auto;width:220px;padding:6px 20px;font-size:0.8em;}
#page.remove-padding .fx-wrapper .four-col-c .container .row .grid-item, #page.remove-padding .fx-wrapper .six-col-c .container .row .grid-item, #page.remove-padding .fx-wrapper .two-col-c .container .row .grid-item{padding:0 15px;}
.generic-layout .left-title{margin-bottom:2rem;}
.entry-content h1{font-size:1.8em;}
.entry-content h2{font-size:1.4em;}
.entry-content h3{font-size:1.2em;}
.entry-content h4{font-size:1em;}
.entry-content h5{font-size:0.8em;}
.entry-content h6{font-size:0.7em;}
#work-nav .arrows .ent-arr{font-size:15px;}
#work-nav .arrows:after{opacity:1 !important;font-size:8px;line-height:1.1;top:28% !important;letter-spacing:0 !important;}
#work-nav .next .ent-arr{right:25px;}
#work-nav .prev .ent-arr{left:25px;}
}
@media only screen and (max-width:479px){#destinations-feat .destination .item .wrap{height:140px;}
#boats-feat .item{height:280px;}
#boats-feat .item .wrap{padding:15px 0;}
#boats-feat .item .wrap .svg{margin-bottom:10px;}
#boats-feat .item h4{font-size:1em;}
.voilivoilou-photo-gallery .slide .item{height:60px;}
#clients-feat .item .wrap, #clients-feat .item .title, #clients-feat .item p{font-size:0.8em;}
#clients-feat .item .post-excerpt, #clients-feat .item .date{font-size:0.7em;}
.sub-block .item .wrap .d-right .img{height:360px;}
.sub-block.yachts-blocks .item .wrap .d-right .img{height:260px;}
}